link( rel="stylesheet" href="./style.css" type="text/css")

- var normalSpikeCount = 12;
- var normalInner1SpikeCount = 7;
- var normalInner2SpikeCount = 6;
- var spikeySpikeCount = 20;
- var spikeyInner1SpikeCount = 10;
- var spikeyInner2SpikeCount = 7;

.container
    div.title
        p.en Durian
        p.zh 榴莲
        p.sc Durio zibethinus

    .durian
        .stem
        - var n = 0
        - while(n < normalSpikeCount)
            .spike(id="spike"+ n++)

    .durian.colored
        .stem
        - var n = 0
        - while(n < normalSpikeCount)
            .spike(id="spike"+ n++)

    .durian.opened
        .stem
        - var n = 0
        - while(n < normalSpikeCount)
            .spike(id="spike"+ n++)
        .flesh.flesh-right
        .flesh.flesh-left

    .durian.opened.colored
        .stem
        - var n = 0
        - while(n < normalSpikeCount)
            .spike(id="spike"+ n++)
        .flesh.flesh-right
        .flesh.flesh-left

    .durian.colored
        .stem
        - var n = 0
        - while(n < normalSpikeCount)
            .spike(id="spike"+ n++)
        .inner-spikes.inner-level-1
            - var n = 0
            - while(n < normalInner1SpikeCount)
                .spike(id="spike"+ n++)
        .inner-spikes.inner-level-2
            - var n = 0
            - while(n < normalInner2SpikeCount)
                .spike(id="spike"+ n++)

    .durian.colored.spikey
        .stem
        - var n = 0
        - while(n < spikeySpikeCount)
            .spike(id="spike"+ n++)
        .inner-spikes.inner-level-1
            - var n = 0
            - while(n < spikeyInner1SpikeCount)
                .spike(id="spike"+ n++)
        .inner-spikes.inner-level-2
            - var n = 0
            - while(n < spikeyInner2SpikeCount)
                .spike(id="spike"+ n++)

    .durian.spikey
        .stem
        - var n = 0
        - while(n < spikeySpikeCount)
            .spike(id="spike"+ n++)

    .durian.spikey
        .stem
        - var n = 0
        - while(n < spikeySpikeCount)
            .spike(id="spike"+ n++)
        .inner-spikes.inner-level-1
            - var n = 0
            - while(n < spikeyInner1SpikeCount)
                .spike(id="spike"+ n++)
        .inner-spikes.inner-level-2
            - var n = 0
            - while(n < spikeyInner2SpikeCount)
                .spike(id="spike"+ n++)

    .durian.colored.opened.spikey
        .stem
        - var n = 0
        - while(n < spikeySpikeCount)
            .spike(id="spike"+ n++)
        .flesh.flesh-right
        .flesh.flesh-left

    .durian.spikey.opened.colored.loader
        .stem
        - var n = 0
        - while(n < spikeySpikeCount)
            .spike(id="spike"+ n++)
        .flesh.flesh-right
        .flesh.flesh-left
