link(rel="stylesheet" href="./style.css" type="text/css")

.container
    - var n = 0;
    ul
    while n < 4
        li(id="test-"+(n++))
    .sunflower
        //- - var $count = 2
        //- - while $count < 3
        //-     .seed(id="seed"+#{$count++})
        //-     $count++