@import '../../common/container.scss';

$color-seed-bed: brown;
$color-outline: grey;

.container {
    @include container;
}

.sunflower {
    background: $color-seed-bed;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid $color-outline;
}