link( rel="stylesheet" href="./style.css" type="text/css")

.container
    .scene
        .patient
            .head
            .eyes
            .body
            .arm-left
        .laptop
        .patient
            .thumb
        .doctor
            .head
            .eyes
            .body
            .arm-left
            .hand-left
            .arm-right
            .hand-right
            .stethoscope
        .scan