link( rel="stylesheet" href="./style.css" type="text/css")

input(id="animToggle")

p Clinic

.container
    .scene
        .patient
            .head
            .eyes
            .body
            .arm-left
        .laptop
        .patient
            .thumb
        .doctor
            .head
            .eyes
            .eyebrows
            .body
            .scan
            .arm-left
            .stethoscope
            .arm-right