@mixin laptop($y, $c-laptop, $c-laptop-shadow) {
    padding: 18px 65px;
    background: $c-laptop;
    transform: skew(50deg);
    border-radius: 10px 0px;
    margin: $y -132px;
    box-shadow: inset 10px -6px $c-laptop-shadow;

    &::before {
        content: '';
        position: absolute;
        width: 120px;
        height: 81px;
        background: $c-laptop;
        margin: -69px 5px;
        transform: skewX(-56deg);
        border-radius: 5px 5px 0% 0%;
        box-shadow: inset 6px 6px $c-laptop-shadow;
    }
}