@import '../../common/container.scss';
@import './person.scss';
@import './patient.scss';
@import './doctor.scss';
@import './laptop.scss';

.container {
    @include container;
}

.scene {
    display: flex;
    padding: 150px 220px;
    &>*{
        position: absolute;
    }
}

$animated: true;

/** Shared variables */
$c-outline: #3f3f3f;

/** Person variables */
$c-skin: #9dd8ff;
$c-arm: #65a9d6;
$c-eye: black;
$c-eyebrow: black;

/** Laptop variables */
$laptop-y: 35px;
$c-laptop: #909090;
$c-laptop-shadow: #646464;

/** Stethoscope variables */
$c-stethoscope: $c-outline;
$scan-spread: 10px;
$scan-blur: 2px;
$c-scan: #5278a3;
$opac-scan-spread: 0.5;
$c-scan-spread-1: rgba(255, 217, 147, $opac-scan-spread);
$c-scan-spread-2: rgb(255, 178, 147, $opac-scan-spread);
$c-scan-spread-3: rgb(255, 190, 147, $opac-scan-spread);

.patient, .doctor {
    @include person($c-skin, $c-eye);
}

.patient {
    @include patient(
        147px - $laptop-y, 
        $c-arm
    );
}

.doctor {
    @include doctor (
        $c-eyebrow,
        $c-arm,
        $c-stethoscope,
        $c-scan,
        $c-scan-spread-1,
        $c-scan-spread-2,
        $c-scan-spread-3,
        $c-outline,
        $scan-spread,
        $scan-blur
    )
}

.laptop {
    @include laptop(
        $laptop-y,
        $c-laptop, 
        $c-laptop-shadow
    );
}