.container {
  display: grid;
  place-items: center;
  height: 100vh;
}

.scene {
  display: flex;
  padding: 150px 220px;
  outline: 1px dashed red;
}
.scene > * {
  position: absolute;
}

.patient .head, .doctor .head {
  padding: 60px;
  background-color: pink;
  border-radius: 50%;
}
.patient .head::after, .doctor .head::after {
  content: "";
  position: absolute;
  padding: 20px;
  background-color: pink;
  margin: 51px -20px;
}
.patient .eyes, .doctor .eyes {
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: black;
  border-radius: 50%;
  box-shadow: 50px 0px black;
  animation: blink 3s infinite;
}
@keyframes blink {
  0%, 17%, 23%, 100% {
    height: 10px;
  }
  20% {
    height: 5px;
  }
}
.patient .body, .doctor .body {
  background-color: pink;
  padding: 60px;
  border-radius: 40% 40% 0% 0%;
  margin-top: 10px;
}

.patient {
  margin: -100px -180px;
}
.patient .eyes {
  margin: -70px 41px;
}
.patient .arm-left {
  position: absolute;
  height: 112px;
  width: 39px;
  background: #c2717e;
  margin: -112px 26px;
  transform: skewX(-14deg);
}
.patient .arm-left::after {
  content: "";
  padding: 15px 32px;
  background: #c2717e;
  position: absolute;
  border-radius: 40%;
  margin: 4px -3px;
  transform: rotate(23deg);
}
.patient .thumb {
  padding: 7px 6px;
  background: #c2717e;
  margin: 139px 39px;
  border-radius: 30% 50% 0% 0%;
  transform: rotate(32deg);
}

.doctor {
  margin: -100px 60px;
}
.doctor .eyes {
  margin: -70px 15px;
  animation-delay: 1s;
}
.doctor .stethoscope {
  position: absolute;
  width: 120px;
  height: 120px;
  background: transparent;
  border-radius: 50% 50% 50% 50%/10% 10% 90% 90%;
  margin: -212px 0px;
  box-shadow: 0px 6px 0px 3px #2f2f2f;
}
.doctor .stethoscope::after {
  content: "";
  position: absolute;
  background: transparent;
  border: 6px solid #2f2f2f;
  border-radius: 0px 0px 100px 100px;
  border-top: none;
  border-left-color: transparent;
  height: 79px;
  width: 118px;
  margin: 65px -74px;
  transform: skewY(-137deg);
  animation: stethomove 3s infinite;
}
@keyframes stethomove {
  0%, 100% {
    width: 118px;
    margin: 65px -74px;
    transform: skewY(-137deg);
  }
  30% {
    width: 167px;
    margin: 76px -121px;
    transform: skewY(-150deg);
  }
  60% {
    width: 129px;
    margin: 79px -86px;
    transform: skewY(-145deg);
  }
}

.scan {
  background: radial-gradient(orange 35%, #2f2f2f 35%, #2f2f2f 50%, orange 50%);
  border: 5px solid #2f2f2f;
  padding: 10px;
  border-radius: 50%;
  margin: 20px -25px;
  animation: scanning 3s infinite;
}
@keyframes scanning {
  0%, 100% {
    margin: 0px -15px;
  }
  25% {
    box-shadow: 0px 0px 2px 10px pink;
  }
  30% {
    margin: 10px -55px;
  }
  45% {
    box-shadow: 0px 0px 0px 0px, 0px 0px 2px 10px orange;
  }
  60% {
    margin: 20px -25px;
  }
  90% {
    box-shadow: 0px 0px 0px 0px, 0px 0px 0px 0px, 0px 0px 2px 10px yellow;
  }
}

.laptop {
  padding: 18px 65px;
  background: grey;
  transform: skew(50deg);
  border-radius: 10px 0px;
  margin: 35px -132px;
  box-shadow: inset 10px -6px #5f5f5f;
}
.laptop::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 81px;
  background: grey;
  margin: -69px 5px;
  transform: skewX(-56deg);
  border-radius: 5px 5px 0% 0%;
  box-shadow: inset 6px 6px #5f5f5f;
}

/*# sourceMappingURL=style.css.map */
