@import '../../common/container.scss';
@import './person.scss';
@import './patient.scss';
@import './doctor.scss';
@import './laptop.scss';

.container {
    @include container;
}

.scene {
    display: flex;
    padding: 150px 220px;
    outline: 1px dashed red;
    &>*{
        position: absolute;
    }
}

$animated: true;

$c-skin: pink;
$c-scan: orange;
$c-skin-dark: #c2717e;
$c-eye: black;
$c-eyebrow: black;
$c-laptop: grey;
$c-laptop-shadow: #5f5f5f;
$laptop-y: 35px;
$c-outline: #2f2f2f;
$c-scan-spread-1: pink;
$c-scan-spread-2: orange;
$c-scan-spread-3: yellow;
$c-stethoscope: $c-outline;

.patient, .doctor {
    @include person($c-skin, $c-eye);
}

.patient {
    @include patient(147px - $laptop-y, $c-skin-dark);
}

.doctor {
    @include doctor($c-eyebrow, $c-skin-dark, $c-stethoscope);
}

.laptop {
    @include laptop($laptop-y, $c-laptop, $c-laptop-shadow);
}