@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
    --background-color: #ffcccc;

    --list-item-color-1: #d3f6f3;
    --list-item-color-2: #d3f6f3;

    --header-link-color: #c01690;
    --header-link-visited-color: #610658;
    --header-link-focus-background-color: #fcffd1;
    
    --search-outline-color: #9d7391;
    --search-background-color: #fcffd1;
    --search-text-color: #c01690;
    --search-label-color: #9d7391;
    
    --overview-text-color: #9d7391;
    --overview-focus-background-color: #fcffd1;
    --text-color: #37323f;
    --list-item-outline-color: #494949;
    --list-item-shadow-color: #2e2e2e;
    --list-item-focus-background-color: #f9ffa0;
}

body {
    background: var(--background-color);
    text-align: center;
    color: var(--text-color);
    font-family: 'Ubuntu';
    scroll-behavior: smooth;
}

ol, ul {
    list-style: none;
    padding: 0;
}

header > * {
    margin: 10px;
}

a {
    text-decoration: none;
}

.preview-mode {
    --list-item-height: 350px;
    --mb-pen-description: 10px;
}

.list-mode {
    --list-item-height: auto;
    --mb-pen-description: 0px;
}

.socials {
    display: inline-flex;
}

.socials__list-item {
    font-weight: bolder;
}

.socials__list-item:not(:last-child)::after {
    content: "-";
    color: var(--text-color);
}

.socials__link {
    padding: 8px;
    border-radius: 8px;
    transition: all 0.2s linear;
    color: var(--header-link-color);
}

.socials__link:hover,
.socials__link:focus {
    outline: none;
    background: var(--header-link-focus-background-color);
}

.socials__link:visited {
    color: var(--header-link-visited-color);
}

.pen__list-item {
    display: flex;
    justify-content: center;
}

.pen__list-item:nth-child(even) .pen__container {
    --list-item-color: var(--list-item-color-1);
}

.pen__list-item:nth-child(odd) .pen__container {
    --list-item-color: var(--list-item-color-2);
}

.pen__container {
    background: var(--list-item-color);
    width: 350px;
    height: var(--list-item-height);
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid var(--list-item-outline-color);
    box-shadow: 8px 8px var(--list-item-shadow-color);
    transition: all 0.2s linear;
}

.pen__preview-image {
    height: 100%;
    overflow-y: hidden;
    border-radius: 8px;
}

.pen__preview-image--static,
.pen__preview-image--static > img,
.pen__preview-image--gif {
    width: 100%;
}

.pen__preview-image--static {
    opacity: 80%;
    display: block;
}

.pen__preview-image--gif {
    display: none;
}

.pen__preview-image {
    transition: all 0.1s linear;
}

.pen__link:focus .pen__preview-image,
.pen__link:hover .pen__preview-image {
    box-shadow: 0px 0px 0px 2px var(--list-item-outline-color);
}

.pen__link:focus .pen__preview-image--static,
.pen__link:hover .pen__preview-image--static {
    display: none;
}

.pen__link:focus .pen__preview-image--gif,
.pen__link:hover .pen__preview-image--gif {
    display: block;
    opacity: 100%;
}

.pen__description {
    font-size: 1.4em;
    margin-bottom: var(--mb-pen-description);
    color: var(--text-color);
    transition: all 0.1s linear;
}

.pen__link:focus {
    outline: none;
}

.pen__link:focus > .pen__container,
.pen__link:hover > .pen__container {
    background: var(--list-item-focus-background-color);
}

label[for="search"] {
    margin-right: 10px;
    color: var(--search-label-color);
}

#search {
    color: var(--text-color);
    border: 2px dashed var(--search-outline-color);
    background: var(--search-background-color);
    opacity: 50%;
    border-radius: 3px;
    padding: 8px;
    text-align: center;
    margin-top: 10px;
    transition: all 0.2s linear;
}

#search:hover,
#search:focus {
    outline: none;
    opacity: 100%;
    box-shadow: 0 0 0 5px var(--search-background-color);
}

.pens__overview {
    margin-top: 20px;
    font-weight: 600;
    color: var(--overview-text-color);
}

.pens__overview > * {
    padding: 8px;
    border-radius: 8px;
}

.pens__view-toggle:focus-within {
    background: var(--overview-focus-background-color);
}

.pens__overview > :nth-child(2) {
    margin-left: 20px;
}

@media only screen and (max-width: 420px) {
    .pen__container {
        width: 85vw;
    }
}