@import url('https://fonts.googleapis.com/css2?family=Hind&display=swap');

:root {
    --background-color: #ffcccc;

    --list-item-color-1: #d3f6f3;
    --list-item-color-2: #d3f6f3;

    --header-link-color: #c01690;
    --header-link-visited-color: #610658;
    --header-link-focus-background-color: #fcffd1;
    
    --overview-text-color: #9d7391;
    --overview-focus-background-color: #fcffd1;
    --text-color: #37323f;
    --list-item-outline-color: #494949;
    --list-item-shadow-color: #2e2e2e;
    --list-item-focus-background-color: #f9ffa0;
}

body {
    background: repeating-radial-gradient(white 0% 28%, #ffddaa 20% 30%);
    background-size: 10vmin 10vmin;
    text-align: center;
    color: var(--text-color);
    font-family: 'Hind', sans-serif;
    scroll-behavior: smooth;
}

ol, ul {
    list-style: none;
    padding: 0;
}

header {
    margin: 5vh;
}

header > h1 {
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

a {
    text-decoration: none;
}

.socials {
    display: inline-flex;
}

.socials__list-item {
    font-weight: bolder;
}

.socials__list-item:not(:last-child)::after {
    content: "-";
    color: var(--text-color);
}

.socials__link {
    padding: 8px;
    transition: all 0.2s linear;
    color: var(--header-link-color);
}

.socials__link:hover,
.socials__link:focus {
    outline: none;
    background: var(--header-link-focus-background-color);
}

.socials__link:visited {
    color: var(--header-link-visited-color);
}

.pens__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 80vw;
    margin: auto;
}

.pen__list-item {
    display: flex;
    justify-content: center;
    max-width: 30vmin;
    min-width: 200px;
    margin: 5vmin;
}


@media only screen and (max-width: 420px) {
    .pen__list-item {
        max-width: 100%;
    }
}

.pen__container {
    --item-background: var(--background-color);
    background: var(--item-background);
    background-size: cover;
    background-repeat: no-repeat;
    height: var(--list-item-height);
    margin: 1.5vmin;
    padding: 2.5vmin 1vmin;
    border: 0.3vmin solid var(--list-item-outline-color);
    box-shadow: 0.3vmin 0.3vmin var(--list-item-shadow-color), 1vmin 1vmin 2.5vmin black;
    transition: all 0.1s linear;
    transform: var(--item-transform);
    transform-origin: top center;
}

.pen__container:focus,
.pen__container:hover {
    transform: var(--item-focus);
}

.pen__container::before {
    content: '';
    position: absolute;
    border-radius: 20%;
    background: black;
    padding: 2vmin 0.4vmin;
    transform: translate(12.5vmin, -5vmin);
}

.pen__list-item:nth-child(even) .pen__container {
    --list-item-color: var(--list-item-color-1);
}

.pen__list-item:nth-child(odd) .pen__container {
    --list-item-color: var(--list-item-color-2);
}

.pen__list-item:nth-child(n) .pen__container {
    --item-transform: rotate(1deg);
    --item-focus: rotate(2deg);
}
.pen__list-item:nth-child(2n) .pen__container {
    --item-transform: rotate(-2deg);
    --item-focus: rotate(-3deg);
}
.pen__list-item:nth-child(3n) .pen__container {
    --item-transform: rotate(2deg);
    --item-focus: rotate(1deg);
}
.pen__list-item:nth-child(4n) .pen__container {
    --item-transform: rotate(-3deg);
    --item-focus: rotate(-2deg);
}
.pen__list-item:nth-child(5n) .pen__container {
    --item-transform: rotate(-1deg);
    --item-focus: rotate(1deg);
}




.pen__list-item:nth-child(even) .pen__container {
    --item-background: url(./assets/home/yellow.webp);
}
.pen__list-item:nth-child(odd) .pen__container {
    --item-background: url(./assets/home/beige.webp);
}

.pen__preview {
    height: 100%;
    overflow-y: hidden;
    width: 100%;
    transition: all 0.1s linear;
}

.pen__caption {
    text-transform: uppercase;
    color: black;
    font-weight: 900;
    letter-spacing: 0.1rem;
}

.pen__link:focus {
    outline: none;
}

.pen__link:focus > .pen__container,
.pen__link:hover > .pen__container {
    /* background: var(--list-item-focus-background-color); */
}
