link( rel="stylesheet" href="./style.css" type="text/css")

img(src="https://vignette.wikia.nocookie.net/pokemon/images/1/1e/Kanto_Gym_Badges_%28Let%27s_Go%29.png/revision/latest?cb=20190607223558")
  
.container
  .badge
    .badge-boulder
      .center
      .sides
        each index in [1, 2, 3, 4, 5, 6, 7, 8]
          .side
            div
  
  .badge
    .badge-cascade
 
  .badge
    .badge-thunder
      .center
      .sides
        each index in [1, 2, 3, 4, 5, 6, 7, 8]
          .side
            div
      .petals
        each index in [1, 2, 3, 4, 5, 6, 7, 8]
          .petal
            div
    
  .badge.badge-rainbow
  
  .badge
    .badge-soul
      .soul-half
      .soul-half
    
  .badge
    .badge-marsh
    
  .badge
    .badge-volcano
      .flame-1
        div
      .flame-2
        div
  
  .badge
    .badge-earth 
      .leaf-2
      .leaf-1
      .stem
      .leaf-lines-1
      .leaf-lines-2
      