link( rel="stylesheet" href="./style.css" type="text/css")

.container
    .toggle-container.version1
        input.checkbox(type="checkbox" id="horizontal")
        .toggle(for="horizontal")
            .celestial
            .scenery