link( rel="stylesheet" href="./style.css" type="text/css")

.container
    .toggle-container
        input.checkbox(type="checkbox" id="checkbox")
        .toggle(for="checkbox")
            .celestial
            .scenery

script(src="script.js")