link( rel="stylesheet" href="./style.css" type="text/css")

.avatar
    .hair
    .hair-fringe
        .side-fringe
        .side-fringe
    .shirt
    .face
    .ears
        .ear
        .ear
    .neck

