link( rel="stylesheet" href="./style.css" type="text/css")

.container
    .avatar
        .hair
        .hair-fringe
            .side-fringe
            .side-fringe
        .hair-highlight
            .highlight
            .highlight
            .highlight
            .highlight
        .shirt
        .face
        .ears
            .ear
            .ear
        .neck
        .glasses
            .lens
            .lens
        .eyes
            .eye
                .pupil
            .eye
                .pupil
        .smile

