@keyframes wandering {
  0%, 38%, 62%, 100% {
    margin-left: 0px;
  }
  40%, 60% {
    margin-left: 10px;
  }
}
@keyframes squinting {
  0%, 38%, 63%, 100% {
    height: 15px;
  }
  40%, 61% {
    height: 12px;
  }
}
@keyframes mouth-up {
  0%, 38%, 63%, 100% {
    margin-top: 100px;
  }
  40%, 61% {
    margin-top: 95px;
  }
}
.container {
  display: grid;
  place-items: center;
  height: 100vh;
}

.avatar {
  padding: 0px 75px 219px 75px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.avatar > * {
  position: absolute;
}

.hair {
  background: black;
  width: 150px;
  height: 200px;
  border-radius: 100px 100px 80px 80px;
}

.hair-fringe {
  z-index: 4;
  display: flex;
  margin-top: 25px;
}

.hair-highlight > .highlight {
  z-index: 4;
  position: absolute;
  border-radius: 100%;
}
.hair-highlight > .highlight:nth-child(even) {
  background: #949494;
}
.hair-highlight > .highlight:nth-child(odd) {
  background: white;
}
.hair-highlight > .highlight:nth-child(1) {
  width: 23px;
  height: 12px;
  margin: 11px 15px;
  transform: rotate(20deg);
}
.hair-highlight > .highlight:nth-child(2) {
  width: 15px;
  height: 10px;
  margin: 27px 41px;
  transform: rotate(39deg);
}
.hair-highlight > .highlight:nth-child(3) {
  width: 17px;
  height: 12px;
  margin: 157px -65px;
  transform: rotate(55deg);
}
.hair-highlight > .highlight:nth-child(4) {
  width: 12px;
  height: 10px;
  margin: 139px -70px;
  transform: rotate(64deg);
}

.side-fringe {
  height: 50px;
}
.side-fringe:first-child {
  background: black;
  width: 50px;
  border-radius: 70% 0% 80% 0%;
  box-shadow: 6px 1px 1px -1px #d2a170;
}
.side-fringe:last-child {
  background: black;
  width: 80px;
  border-radius: 0% 60% 0% 80%;
  box-shadow: -7px 10px 1px -8px #d2a170;
}

.face {
  border: 5px solid black;
  background: #f3c495;
  width: 100px;
  height: 95px;
  margin-top: 35px;
  border-radius: 10% 10% 100px 100px;
  z-index: 3;
}

.ears {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  margin-top: 75px;
}
.ears > .ear {
  width: 20px;
  height: 25px;
  border: 5px solid black;
  border-right-color: transparent;
  border-radius: 100px 0px 0px 100px;
  background: #f3c495;
  box-shadow: inset 5px 3px #d2a170;
}
.ears > .ear:last-child {
  transform: scaleX(-1);
  margin-left: 85px;
}

.eyes {
  z-index: 4;
  display: flex;
  justify-content: space-between;
  margin-top: 72px;
}
.eyes > .eye {
  border: 3px solid black;
  width: 22px;
  height: 15px;
  background: white;
  border-radius: 100%;
  animation: squinting 5s infinite;
}
.eyes > .eye:last-child {
  margin-left: 30px;
}
.eyes > .eye > .pupil {
  width: 15px;
  height: 12px;
  background: black;
  border-radius: 100%;
  animation: wandering 5s infinite;
}
.eyes > .eye > .pupil::after {
  content: "";
  position: absolute;
  padding: 2.1px;
  border-radius: 100%;
  background: white;
  margin: 2px;
}

.glasses {
  width: 20px;
  height: 5px;
  background: red;
  margin-top: 80px;
  z-index: 4;
}
.glasses::before, .glasses::after {
  content: "";
  position: absolute;
  background: red;
  padding: 2.5px 8px;
}
.glasses::before {
  margin: -3px 57px;
  transform: rotate(-10deg);
  border-top-right-radius: 10px;
}
.glasses::after {
  margin: -3px -53px;
  transform: rotate(10deg);
  border-top-left-radius: 10px;
}
.glasses .lens {
  width: 30px;
  height: 25px;
  border: 4px solid red;
  position: absolute;
  border-radius: 15px;
}
.glasses .lens:nth-child(1) {
  margin: -14px -38px;
}
.glasses .lens:nth-child(2) {
  margin: -14px 20px;
}

.neck {
  background: #d2a170;
  width: 30px;
  height: 28px;
  margin-top: 130px;
  border-radius: 0px 0px 100px 100px;
  border: 5px solid black;
  box-shadow: inset 0px -12px #f3c495;
}

.shirt {
  background: #f7dc58;
  width: 110px;
  height: 60px;
  margin-top: 150px;
  border-radius: 50px 50px 0px 0px;
  border: 5px solid black;
  box-shadow: inset 0px 8px #bba32e;
}

.smile {
  z-index: 4;
  background: transparent;
  width: 20px;
  height: 10px;
  border: 3px solid black;
  border-top: none;
  border-radius: 0px 0px 100px 100px;
  margin-top: 100px;
  animation: mouth-up 5s infinite;
}

/*# sourceMappingURL=style.css.map */
