$w-outline: 5px;
$w-outline-light: 3px;

$mt-fringe: 25px;
$mt-face: 35px;
$mt-ears: 75px;
$mt-eyes: 72px;
$mt-smile: 100px;
$mt-neck: 130px;
$mt-shirt: 150px;

$c-outline: black;
$c-skin: #f3c495;
$c-eyes: black;
$c-hair: black;
$c-skin-shadow: #d2a170;
$c-shirt: #f7dc58;
$c-shirt-shadow: #bba32e;
$c-pupil-highlight: white;
$c-hair-highlight-1: white;
$c-hair-highlight-2: #949494;

$eye-anim-duration: 5s;

@mixin outline {
    border: $w-outline solid $c-outline;
}

@mixin outline-light {
    border: $w-outline-light solid $c-outline;
}

@keyframes wandering {
    0%, 38%, 62%, 100% {
        margin-left: 0px;
    }
    40%, 60% {
        margin-left: 10px;
    }
}

@keyframes squinting {
    0%, 38%, 63%, 100% {
        height: 15px;
    }
    40%, 61% {
        height: 12px;
    }
}

.avatar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    &>*{
        position: absolute;
    }
}

.hair {
    background: $c-hair;
    width: 150px;
    height: 200px;
    border-radius: 100px 100px 80px 80px;
}

.hair-fringe {
    z-index: 4;
    display: flex;
    margin-top: $mt-fringe;
}

.hair-highlight {
    &>.highlight {
        z-index: 4;
        position: absolute;
        border-radius: 100%;
        
        &:nth-child(even) {
            background: $c-hair-highlight-2;
        }
        
        &:nth-child(odd) {
            background: $c-hair-highlight-1;
        }

        &:nth-child(1) {
            width: 23px;
            height: 12px;
            margin: 11px 15px;
            transform: rotate(20deg);
        }

        &:nth-child(2) {
            width: 15px;
            height: 10px;
            margin: 27px 41px;
            transform: rotate(39deg);
        }

        &:nth-child(3) {
            width: 17px;
            height: 12px;
            margin: 157px -65px;
            transform: rotate(55deg);
        }

        &:nth-child(4) {
            width: 12px;
            height: 10px;
            margin: 139px -70px;
            transform: rotate(64deg);
        }
    }
}

.side-fringe {
    height: 50px;
    &:first-child {
        background: $c-hair;
        width: 50px;
        border-radius: 70% 0% 80% 0%;
        box-shadow: 6px 1px 1px -1px $c-skin-shadow;
    }
    &:last-child {
        background: $c-hair;
        width: 80px;
        border-radius: 0% 60% 0% 80%;
        box-shadow: -7px 10px 1px -8px $c-skin-shadow;
    }
}

.face {
    @include outline;
    background: $c-skin;
    width: 100px;
    height: 95px;
    margin-top: $mt-face;
    border-radius: 10% 10% 100px 100px;
    z-index:3;
}

.ears {
    z-index: 2;
    display: flex;
    justify-content: space-between;
    margin-top: $mt-ears;

    &>.ear {
        width: 20px;
        height: 25px;
        @include outline;
        border-right-color: transparent;
        border-radius: 100px 0px 0px 100px;
        background: $c-skin;
        box-shadow: inset 5px 3px $c-skin-shadow;
    }
    &>.ear:last-child {
        transform: scaleX(-1);
        margin-left: 85px;
    }
}

.eyes {
    z-index: 4;
    display: flex;
    justify-content: space-between;
    margin-top: $mt-eyes;
    
    &>.eye {
        @include outline-light;
        width: 22px;
        height: 15px;
        background: white;
        border-radius: 100%;
        animation: squinting $eye-anim-duration infinite;

        &:last-child {
            margin-left: 30px;
        }

        &>.pupil {
            width: 15px;
            height: 12px;
            background: $c-eyes;
            border-radius: 100%;
            animation: wandering $eye-anim-duration infinite;
            &::after {
                content:"";
                position: absolute;
                padding: 2.1px;
                border-radius: 100%;
                background: $c-pupil-highlight;
                margin: 2px;
            }
        }
    }

}

.neck {
    background: $c-skin-shadow;
    width: 30px;
    height: 28px;
    margin-top: $mt-neck;
    border-radius: 0px 0px 100px 100px;
    @include outline;
    box-shadow: inset 0px -12px $c-skin;
}

.shirt {
    background: $c-shirt;
    width: 110px;
    height: 60px;
    margin-top: $mt-shirt;
    border-radius: 50px 50px 0px 0px;
    @include outline;
    box-shadow: inset 0px 8px $c-shirt-shadow;
}

.smile {
    z-index: 4;
    background: transparent;
    width: 20px;
    height: 10px;
    @include outline-light;
    border-top: none;
    border-radius: 0px 0px 100px 100px;
    margin-top: $mt-smile;
}