link( rel="stylesheet" href="./style.css" type="text/css")

- var faces =['😀','😁','😂','🤣','😃','😄','😅','😆','😉','😊','😋','😎','😍','😘','🥰','😗','😙','😚','🙂','🤗','🤩','🤔','🤨','😐','😑','😶','🙄','😏','😣','😥','😮','🤐','😯','😪','😫','😴','😌','😛','😜','😝','🤤','😒','😓','😔','😕','🙃','🤑','😲','🙁','😖','😞','😟','😤','😢','😭','😦','😧','😨','😩','🤯','😬','😰','😱','🥵','🥶','😳','🤪','😵','🥴','😠','🤬','😷','🤒','🤕','🤢','🤮','🤧','😇','🥳','🥺','🤠','🤡','🤥','🤫','🤭','🧐','🤓','😈','👿','👹','👺','💀','🦴','👻','👽','👾','🤖','💩']

- var animals = ['😺','😸','😿','😹','😻','😼','😽','🙀','😿','😾','🐱‍👤','🐱‍🏍','🐱‍💻','🐱‍🐉','🐱‍👓','🐱‍🚀','🙈','🙉','🙊','🐵','🐶','🐺','🐱','🦁','🐯','🦒','🦊','🦝','🐮','🐷','🐗','🐭','🐹','🐰','🐻','🐨','🐼','🐸','🦓','🐴','🦄','🐔','🐲','🐽','🐾','🐒','🦍','🐩','🐕','🐈','🐅','🐆','🐎','🦌','🦏','🦛','🐂','🐃','🐄','🐖','🐏','🐑','🐐','🐪','🐫','🦙','🦘','🦡','🐘','🐁','🐀','🦔','🐇','🦎','🐊','🐢','🐍','🐉','🦕','🦖','🦈','🐬','🐳','🐋','🐟','🐠','🐡','🦐','🦑','🐙','🦞','🦀','🐚','🦆','🐓','🦃','🦅','🦢','🦜','🦚','🦉','🐦','🐧','🐥','🐤','🐣','🦇','🦋','🐌','🐛','🦟','🦗','🐜','🐝','🐞','🦂','🦠']

- var items = ['🎈','🎆','🎇','🧨','✨','🎉','🎊','🎃','🎄','🎋','🎍','🎎','🎏','🎐','🎑','🧧','🎀','🎁','🎫','🎠','🎡','🎢','🎪','🎭','🎨','🧵','🧶','🛒','👓','🥽','🥼','🧥','👔','👕','👖','🧣','🧤','🧦','👗','👘','👙','👚','👛','👜','👝','🎒','👞','👟','🥾','🥿','👠','👡','👢','👑','🧢','👒','🎩','🎓','💋','💄','💍','💎','⚽','⚾','🥎','🏀','🏐','🏈','🏉','🎱','🎳','🥌','⛳','🎣','🎽','🛶','🎿','🛷','🥅','🏒','🥍','🏏','🏑','🏓','🏸','🎾','🥏','🎯','🥊','🥋','🥇','🥈','🥉','🏅','🏆','🎮','🎰','🎲','🔮','🧿','🧩','🧸','🎴','🃏','🀄','🔈','🔉','🔊','📢','📣','🔔','🎼','🎵','🎶','🎤','🎧','📯','🥁','🎷','🎸','🎹','🎻','🎺','📻','🔒','🔓','🔏','🔐','🔑','🔨','🔧','🔩','🧱','🧪','🧫','🧬','💉','💊','🔬','🔭','📿','🔗','🧰','🧲','🏹','🔪','💣','🔫','📞','📟','📠','📱','📲','📳','📴','🚬','🗿','🔋','🔌','💻','💽','💾','💿','📀','🧮','🎥','🎬','📡','📺','📷','📸','📹','📼','🔍','🔎','💡','🔦','🏮','📔','📕','📖','📗','📘','📙','📚','📓','📒','📃','📜','📄','📑','📰','🔖','💰','💴','💵','💶','💷','💸','💳','🧾','🏧','📧','📨','📩','📤','📥','📦','📫','📪','📬','📭','📮','📝','💼','📁','📂','📅','📆','📇','📈','📉','📊','📋','📌','📍','📎','📏','📐','⌛','⏳','⌚','⏰','⏱','⏲']

- var people = ['💑','👩‍❤️‍👩','👨‍❤️‍👨','💏','👩‍❤️‍💋‍👩','👨‍❤️‍💋‍👨','👪','👨‍👩‍👦','👨‍👩‍👧','👨‍👩‍👧‍👦','👨‍👩‍👦‍👦','👨‍👩‍👧‍👧','👨‍👨‍👦','👨‍👨‍👧','👨‍👨‍👧‍👦','👨‍👨‍👦‍👦','👨‍👨‍👧‍👧','👩‍👩‍👦','👩‍👩‍👧','👩‍👩‍👧‍👦','👩‍👩‍👦‍👦','👩‍👩‍👧‍👧','👩‍👦','👩‍👧','👩‍👧‍👦','👩‍👦‍👦','👩‍👧‍👧','👨‍👦','👨‍👧','👨‍👧‍👦','👨‍👦‍👦','👨‍👧‍👧','👫','👬','👭','👯‍♂️','👯‍♀️','🤼','🤼‍♂️','🤼‍♀️','🤺','👩','👨','🧑','👧','👦','🧒','👶','👵','👴','🧓','👩‍🦰','👨‍🦰','👩‍🦱','👨‍🦱','👩‍🦲','👨‍🦲','👩‍🦳','👨‍🦳','👱‍♀️','👱‍♂️','👸','🤴','👳‍♀️','👳‍♂️','👲','🧔','👼','🤶','🎅','👮‍♀️','👮‍♂️','🕵️‍♀️','🕵️‍♂️','💂‍♀️','💂‍♂️','👷‍♀️','👷‍♂️','👩‍⚕️','👨‍⚕️','👩‍🎓','👨‍🎓','👩‍🏫','👨‍🏫','👩‍⚖️','👨‍⚖️','👩‍🌾','👨‍🌾','👩‍🍳','👨‍🍳','👩‍🔧','👨‍🔧','👩‍🏭','👨‍🏭','👩‍💼','👨‍💼','👩‍🔬','👨‍🔬','👩‍💻','👨‍💻','👩‍🎤','👨‍🎤','👩‍🎨','👨‍🎨','👩‍✈️','👨‍✈️','👩‍🚀','👨‍🚀','👩‍🚒','👨‍🚒','🧕','👰','🤵','🤱','🤰','🦸‍♀️','🦸‍♂️','🦹‍♀️','🦹‍♂️','🧙‍♀️','🧙‍♂️','🧚‍♀️','🧚‍♂️','🧛‍♀️','🧛‍♂️','🧜‍♀️','🧜‍♂️','🧝‍♀️','🧝‍♂️','🧟‍♀️','🧟‍♂️','🙍‍♀️','🙍‍♂️','🙎‍♀️','🙎‍♂️','🙅‍♀️','🙅‍♂️','🙆‍♀️','🙆‍♂️','💁‍♀️','💁‍♂️','🙋‍♀️','🙋‍♂️','🙇‍♀️','🙇‍♂️','🤦‍♀️','🤦‍♂️','🤷‍♀️','🤷‍♂️','💆‍♀️','💆‍♂️','💇‍♀️','💇‍♂️','🧖‍♀️','🧖‍♂️','🤹‍♀️','🤹‍♂️','🚶‍♀️','🚶‍♂️','🏃‍♀️','🏃‍♂️','💃','🕺','🧗‍♀️','🧗‍♂️','🧘‍♀️','🧘‍♂️','🛀','🛌','🕴','🏇','🏂','🏌️‍♀️','🏌️‍♂️','🏄‍♀️','🏄‍♂️','🚣‍♀️','🚣‍♂️','🏊‍♀️','🏊‍♂️','🤽‍♀️','🤽‍♂️','🤾‍♀️','🤾‍♂️','⛹️‍♀️','⛹️‍♂️','🏋️‍♀️','🏋️‍♂️','🚴‍♀️','🚴‍♂️','🚵‍♀️','🚵‍♂️','🤸‍♀️','🤸‍♂️','🤳','💪','🦵','🦶','👂','👃','👈','👉','☝','👆','👇','✌','🤞','🖖','🤘','🤙','🖐','✋','👌','👍','👎','✊','👊','🤛','🤜','🤚','👋','🤟','✍','👏','👐','🙌','🤲','🙏','🤝','💅','🧞‍♀️','🧞‍♂️','👤','👥','👀','🦷','👅','👄','🧠','👣']

- var food = ['🍕','🍔','🍟','🌭','🍿','🧂','🥓','🥚','🥞','🍳','🍞','🥐','🥨','🥯','🥖','🧀','🥗','🥙','🥪','🌮','🌯','🥫','🍖','🍗','🥩','🍠','🥟','🥠','🥡','🍱','🍘','🍙','🍚','🍛','🍜','🍣','🍤','🍥','🥮','🍢','🥘','🍲','🍝','🥣','🥧','🍦','🍧','🍨','🍩','🍪','🎂','🍰','🧁','🍫','🍬','🍭','🍡','🍮','🍯','🍼','🥛','☕','🍵','🍶','🍾','🍷','🍸','🍹','🍺','🍻','🥂','🥃','🥤','🥢','🍴','🥄','🏺','🥝','🥥','🍇','🍈','🍉','🍊','🍋','🍌','🍍','🥭','🍎','🍏','🍐','🍑','🍒','🍓','🍅','🍆','🌽','🌶','🍄','🥑','🥒','🥬','🥦','🥔','🥕','🌰','🥜','💐','🌸','🌹','🌺','🌻','🌼','🌷','🥀','🌱','🌲','🌳','🌴','🌵','🌾','🌿','🍀','🍁','🍂','🍃']

- var transport = ['🚗','🚓','🚕','🚙','🚌','🚐','🚎','🚑','🚒','🚚','🚛','🚜','🚘','🚔','🚖','🚍','🛹','🚲','🛴','🛵','🚄','🚅','🚈','🚝','🚞','🚃','🚋','🚆','🚉','🚊','🚇','🚟','🚠','🚡','🚂','🛫','🛬','💺','🚁','🚀','🛸','⛵','🚤','🚢','⚓','🚏','⛽','🚨','🚥','🚦','🚧','🏁','🌈','🏴','️🚩','🌍','🌎','🌏','🧭','🌋','🌋','🗻','🏠','🏡','⛪','🕋','🕌','🕍','⛩','🏢','🏣','🏤','🏥','🏦','🏨','🏩','🏪','🏫','🏬','🏭','🏯','🏰','💒','🗼','🌉','🗽','🗾','🎌','⛲','⛺','🌁','🌃','🌄','🌅','🌆','🌇','🌌','💈','🧳','🚪','🚽','🧻','🚿','🛁','🧼','🧽','🧴','🧷','🧹','🧺','🧯','☁','⛅','🌝','🌑','🌒','🌓','🌔','🌕','🌖','🌗','🌘','🌙','🌚','🌛','🌜','🌞','⭐','🌟','🌠','🌀','🌈','🌂','☔','⚡','⛄','🔥','💧','🌊']

- var symbols = ['🧡','💛','💙','💚','💜','🖤','💔','❣','💕','💞','💓','💗','💖','💘','💝','💟','💌','💢','💥','💤','💦','💨','💫','🔯','🕎','🛐','⛎','♈','♉','♊','♋','♌','♍','♎','♏','♐','♑','♒','♓','🆔','🈳','🈹','🈶','🈚','🈸','🈺','🈷','🆚','🉑','💮','🉐','㊙','㊗','🈴','🈵','🈲','🚼','🅰','🅱','🆎','🆑','🅾','🆘','⛔','⛔','🛑','📛','❌','⭕','🚫','🔇','🔕','🚭','🚷','🚯','🚳','🚱','🔞','📵','❗','❕','❓','❔','💯','🔅','🔆','🔱','〽','🚸','🔰','🈯','💹','❎','✅','💠','🌐','Ⓜ','🈂','➿','🛂','🛃','🛄','🛅','♿','🚾','🅿','🚰','🚹','🚺','🚻','🚮','📶','🈁','🆖','🆗','🆙','🆒','🆕','🆓','🔟','🔢','⏸','⏯','⏹','⏺','⏭','⏮','⏩','⏪','🔀','🔁','🔂','⏫','⏬','🎦','🔄','🔤','🔡','🔠','🔣','🔃','🔛','🔝','🔜','🔚','🔙','〰','➰','💲','💱','➕','➖','➗','🔘','⚪','⚫','🔴','🔵','🔸','🔹','🔶','🔷','🔼','🔻','🔺','🔽','◾','◽','⬛','⬜','🔲','🔳','💭','💬','🕐','🕑','🕒','🕓','🕔','🕕','🕖','🕗','🕘','🕙','🕚','🕛','🕜','🕝','🕞','🕟','🕠','🕡','🕢','🕣','🕤','🕥','🕦','🕧']


mixin section(title, array)
  p(id= title).section-title= title
  .emoji-section
    each emoji in array
      p.emoji #{emoji}

mixin link(title, emoji)
  div.link
    span= emoji
    a(href= '#'+title)= title

.container
  p#notification hihi
  .sidebar
    .sidebar-content
      h1.title Emoji Selector Clone
      .links
        +link('Faces', '😀')
        +link('Animals', '🐼')
        +link('Items', '🎀')
        +link('People', '👩')
        +link('Food', '🍕')
        +link('Transport', '🚀')
        +link('Symbols', '🧡')
  
  .emoji-container
    .emojis
      +section('Faces', faces)
      +section('Animals', animals)
      +section('Items', items)
      +section('People', people)
      +section('Food', food)
      +section('Transport', transport)
      +section('Symbols', symbols)

script(src="script.js")