@mixin spike($count, $transform-origin, $c-border, $padding) {
    position: absolute;
    background: var(--c-durian);
    padding: $padding;
    border-radius: 0px 5px 0px 0px;
    border: var(--border-weight) solid $c-border;
    border: {
        bottom: none;
        left: none;
    }
    transform-origin: $transform-origin;

    $rotate-deg: 360deg / $count;
    @for $i from 1 through $count {
        &:nth-child(#{$i}) {
            transform: rotate(($i - 1) * $rotate-deg);
        }
    }
}

@keyframes shake {
    0%, 30%, 50%, 70%, 100% { 
        transform: scale(0.3) translate(-0px, -87px) rotate(0deg) 
    }
    20%, 60% { 
        transform: scale(0.3) translate(-0px, -87px) rotate(5deg) 
    }
    40%, 80% { 
        transform: scale(0.3) translate(-0px, -87px) rotate(-5deg) 
    }
}

@mixin durian {
    transform: var(--scale-durian) var(--translate-durian);
    transform-origin: 0px 0px;

    .shell {
        padding: 55px;
        background: black;
        position: absolute;
        border-radius: 50%;
        transform: translate(-81px, -2px);
    }

    .stem {
        position: absolute;
        padding: 11px 5px;
        background: var(--c-stem);
        transform: translate(-37px, -35px);
        border-radius: 10px 0px 8px;
        border: var(--border-weight) solid var(--c-stem-border);
        border-bottom: none;
    }
    
    .spike {
        @include spike(20, -27px 53px, var(--c-spike-border), 7px);
        box-shadow: -22px 18px 0px 17px var(--c-durian);
    }

    &>.inner-spikes.inner-level-1 {
        transform: translate(2px, 18px) rotate(11deg);
        &>.spike {
            @include spike(10, -22px 40px, var(--c-spike-border), 5px);
            box-shadow: none;
        }
    }

    &>.inner-spikes.inner-level-2 {
        transform: translate(-10px, 28px) rotate(7deg);
        &>.spike {
            @include spike(7, -13px 26px, var(--c-spike-border), 3.5px);
            box-shadow: none;
        }
    }
    
    .flesh {
        background: var(--c-flesh-container);
        padding: 51px 26px 46px 25px;
        position: absolute;
    
        &.flesh-right {
            border-radius: 30px 100px 100px 30px;
            transform: translate(-31px, 4px);
            &::before {
                transform: var(--translate-flesh-long);
            }
            &::after {
                transform: var(--translate-flesh-short);
            }
        }
        &.flesh-left {
            border-radius: 100px 30px 30px 100px;
            transform: translate(-74px, 4px) scaleY(-1);
            &::before {
                transform: var(--translate-flesh-long) var(--scale-flesh-left);
            }
            &::after {
                transform: var(--translate-flesh-short) var(--scale-flesh-left);
            }
        }
        $w-border: 5px;
        &::after, &::before {
            content: '';
            position: absolute;
            background: var(--c-flesh);
            box-shadow: 0px 0px 0px 2px var(--c-flesh-border);
        }    
        &::after {
            padding: 16px;
            border-radius: 20px 50px 25px 20px;
        }
        &::before {
            padding: 20px 16px;
            border-radius: 30px 50px 100px 30px;
        }
    }
}