@import '../../common/container.scss';
@import url('https://fonts.googleapis.com/css?family=Righteous');
@import 'durian.scss';

:root {
    --border-weight: 5px;
    --c-flesh-container: #72a072;
    --c-flesh: #ffe600;
    --translate-flesh-long: translate(-15px, -3px);
    --translate-flesh-short: translate(-15px, -42px);
    --scale-flesh-left: scaleX(-1);
    --translate-flesh-left-after: scaleX(-1) translate(-15px, -42px);
    --c-stem-border: black;
    --c-spike-border: black;
    --c-stem: brown;
    --c-durian: green;
    --c-flesh-border: black;

    --scale-durian: scale(0.3);
    --translate-durian: translate(-0px, -87px);
    --m-durian: -26px 19px 0px 0px;
    --h-radio: 47px;
    --w-radio: 40px;
}

.durian {
    @include durian;
 }

.container {
    @include container;
    grid-auto-flow: row;
}

.option-text, .question-text, .footer-text {
    font-family: 'Righteous', cursive;
}

.question-text {
    font-size: 40px;
    margin: 10px 0px 30px 0px;
}

.option-text {
    font-size: 20px;
}

.footer-text {
    font-size: 15px;
    text-align: center;
}

.radio {
    position: absolute;
    transform: translate(-33px, -40px);
    height: var(--h-radio); 
    width: var(--w-radio); 
    z-index: 1;
    opacity: 0;

    & + .durian {
        &>.inner-spikes { display: block }
        &>.flesh { display: none }
    }
    
    &:checked + .durian {
        animation: shake 0.5s linear 0s 1;
        &>.inner-spikes { display: none }
        &>.flesh { display: block }
    }

    &:not(:focus), &:checked {
        --c-spike-border: black;
    }

    &:focus + .durian {
        --c-spike-border: rgb(37, 163, 75);
    }
}

.option {
    display: grid;
    grid-auto-flow: column;
    place-items: end;
    column-gap: 20px;
}

.question {
    text-align: center;
    display: grid;
    place-items: center;
    padding: 0px 38px 30px;
}

.options-list {
    display: grid;
    place-items: start;
    row-gap: 30px;
    margin-bottom: 20px;
    @media only screen and (min-width: 600px) {
        column-gap: 50px;
        grid-template-columns: 1fr 1fr;
    }
}

.emphasis {
    color: var(--c-durian);
    text-transform: uppercase;
    font-weight: 900;
    text-shadow: 
        0.2px 0.2px black, 
        0.6px 0.6px black, 
        1px 1px black, 
        1.2px 1.2px black, 
        1.6px 1.6px black, 
        2px 2px black,
        2.2px 2.2px black, 
        2.6px 2.6px black, 
        3px 3px black, 
        3.2px 3.2px black, 
        3.6px 3.6px black;
}

body {
    background: rgb(249, 255, 158);
}