link( rel="stylesheet" href="./style.css" type="text/css")

body(style='margin:0')
  div#galaxy
    p 
    div#sun 
      each val in [ "one", "two","three", "four", "five", "six", "eight", "seven","nine","ten" ]
        div(class="orbit-"+val) 