link( rel="stylesheet" href="./style.css" type="text/css")

.comic
  .panel
    .text.right My dog has no nose.
    .friend
    .dog
      .eyes.blink
      .mouth.left
      .mouth.right
      .tongue
      .ears.left
      .ears.right
    .dude.talking

  .panel
    .text.left How does he smell?
    .friend.talking
    .dog
      .eyes
      .mouth.left
      .mouth.right
      .tongue.perspirate
      .ears.left
      .ears.right
    .dude
    
  .panel
    .text.right2 Awful.
    .friend
    .dog
      .eyes
      .mouth.left
      .mouth.right
      .tongue
      .ears.left
      .ears.right
      .paw
    .dude.talking
   
p Joke from 
  a(href='https://icanhazdadjoke.com/') https://icanhazdadjoke.com 
  