link( rel="stylesheet" href="./style.css" type="text/css")

.container
  .pikachu
    .head
      .head-1
      .head-2
      .head-3
      .head-4

    .ear
      .ear-left-1
      .ear-left-2
      .ear-left-3
      .ear-right-1
      .ear-right-2
      .ear-right-3
      .ear-right-4

    .cheek
      .cheek-left
      .cheek-right

    .mouth

    .nose

    .eye
      .eye-left
      .eye-right