.pikachu > *, .pikachu > * > * {
  position: absolute;
}

.pikachu {
  padding-bottom: 360px;
  padding-right: 490px;
}

.container {
  display: grid;
  place-items: center;
  height: 100vh;
}

.eye-left {
  background: white;
  width: 14px;
  height: 16px;
  opacity: 1;
  margin: 196px 143px;
  border-radius: 100px;
  box-shadow: 6px 6px 0px 10px #212121;
}
.eye-right {
  background: white;
  width: 14px;
  height: 16px;
  opacity: 1;
  margin: 196px 268px;
  border-radius: 100px;
  box-shadow: 6px 6px 0px 10px #212121;
}

.nose {
  background: black;
  width: 22px;
  height: 10px;
  opacity: 1;
  margin: 232px 195px;
  border-radius: 12% 88% 18% 82%/32% 33% 67% 68%;
}

.mouth {
  background: #C62828;
  width: 48px;
  height: 38px;
  opacity: 1;
  margin: 270px 190px;
  box-shadow: 0px 0px 0px 4px #212121;
  transform: rotate(10deg);
  border-radius: 75% 25% 47% 53%/30% 55% 45% 70%;
}

.cheek > * {
  background: #EF5350;
  width: 35px;
  height: 40px;
  opacity: 1;
}
.cheek-left {
  margin: 245px 93px;
  border-radius: 46% 54% 46% 54%/60% 54% 46% 40%;
  box-shadow: 0px 0px 0px 4px #212121;
}
.cheek-right {
  margin: 247px 300px;
  border-radius: 46% 54% 48% 52%/60% 47% 53% 40%;
  box-shadow: 0px 0px 0px 4px #212121;
}

.head > * {
  background: #FDD835;
  opacity: 1;
}
.head-1 {
  width: 100px;
  height: 225px;
  margin: 125px 100px;
  border-radius: 60px 0px 0px 100px;
  transform: skewX(-17deg);
  box-shadow: -5px 0px #212121;
  border-right-color: transparent;
  border-bottom-color: transparent;
}
.head-2 {
  width: 150px;
  height: 233px;
  margin: 125px 210px;
  border-radius: 0px 80px 0px 0px;
  transform: skewX(14deg);
  box-shadow: 5px 0px #212121;
  border-right-color: transparent;
  border-bottom-color: transparent;
}
.head-3 {
  width: 150px;
  height: 200px;
  margin: 158px 125px;
  border-radius: 0px 80px 0px 0px;
  transform: skewX(-12deg);
  box-shadow: -5px 0px #212121;
  border-right-color: transparent;
  border-bottom-color: transparent;
  z-index: -1;
}
.head-4 {
  width: 150px;
  height: 200px;
  margin: 158px 125px;
  border-radius: 0px 80px 0px 0px;
  transform: skewX(-12deg);
  border-right-color: transparent;
  border-bottom-color: transparent;
}

.ear-left-1 {
  background: #FDD835;
  opacity: 1;
  width: 100px;
  height: 100px;
  margin: 55px 40px;
  border-radius: 10px 200px 0px 200px;
  box-shadow: -3px 0px 0px 4px #212121;
  transform: skewY(32deg) rotate(-15deg);
  z-index: -1;
}
.ear-left-2 {
  background: #FDD835;
  opacity: 1;
  width: 40px;
  height: 150px;
  margin: 33px 100px;
  border-radius: 200px 10px 0px 0px;
  box-shadow: 3px 0px #212121;
  transform: skewY(30deg) rotate(-84deg);
  z-index: -1;
}
.ear-left-3 {
  background: #FDD835;
  opacity: 1;
  width: 53px;
  height: 58px;
  margin: 117px 123px;
  border-radius: 20% 80%;
  transform: rotate(-75deg);
}
.ear-right-1 {
  background: #FDD835;
  opacity: 1;
  width: 100px;
  height: 150px;
  margin: 60px 300px;
  border-radius: 86% 14% 40% 60%/45% 16% 84% 55%;
  box-shadow: 0px -3px 0px 5px #212121;
  transform: skewX(-45deg);
  z-index: -1;
}
.ear-right-2 {
  background: transparent;
  opacity: 1;
  width: 110px;
  height: 30px;
  margin: 96px 220px;
  border-radius: 90% 10%;
  box-shadow: 6px 3px 0px -2px #212121, 10px 15px #FDD835;
  transform: rotate(2deg);
  z-index: -2;
}
.ear-right-3 {
  background: #FDD835;
  opacity: 1;
  width: 97px;
  height: 30px;
  margin: 137px 253px;
  border-radius: 20% 80%;
  transform: rotate(20deg);
}
.ear-right-4 {
  background: #FDD835;
  opacity: 1;
  width: 60px;
  height: 30px;
  margin: 123px 270px;
  transform: rotate(-17deg);
}
.ear-tip-left {
  background: black;
  opacity: 1;
  width: 40px;
  height: 60px;
  margin: 20px 20px;
  border-radius: 10% 90% 10% 90%;
  transform: skewY(-10deg) rotate(10deg);
}

/*# sourceMappingURL=style.css.map */
