//- WIP!!
link( rel="stylesheet" href="./style.css" type="text/css")

// ----------- Front end -----------

// angular
img(src="https://angular.io/assets/images/logos/angular/angular.png")

// react
img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/1024px-React-icon.svg.png")

// vue
img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Vue.js_Logo_2.svg/1024px-Vue.js_Logo_2.svg.png")

// ruby on rails
img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Ruby_logo.svg/1024px-Ruby_logo.svg.png")

// javascript
img(src="https://cdn.worldvectorlogo.com/logos/javascript-1.svg")

// html, css
img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/10/CSS3_and_HTML5_logos_and_wordmarks.svg/791px-CSS3_and_HTML5_logos_and_wordmarks.svg.png")

// ----------- Scripting -----------

// python
img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/1024px-Python-logo-notext.svg.png")

// java
img(src="https://i.pinimg.com/originals/f1/ea/a7/f1eaa7278f64e27128e062a3de918265.png")

// go
img(src="https://sentry.io/_assets/logos/go-9192ee98c4a9c19c96b7f69825b3445638c3a4b6129c936012acf74390bfe240.svg")

// node JS
img(src="https://nodejs.org/static/images/logos/nodejs-new-pantone-black.png")


// ----------- Preprocessors -----------

// sass
img(src="https://sass-lang.com/assets/img/styleguide/seal-color-aef0354c.png")

// pug js
img(src="https://camo.githubusercontent.com/a43de8ca816e78b1c2666f7696f449b2eeddbeca/68747470733a2f2f63646e2e7261776769742e636f6d2f7075676a732f7075672d6c6f676f2f656563343336636565386664396431373236643738333963626539396431663639343639326330632f5356472f7075672d66696e616c2d6c6f676f2d5f2d636f6c6f75722d3132382e737667")

// ----------- Others -----------

// firebase
img(src="https://firebase.google.com/downloads/brand-guidelines/PNG/logo-vertical.png")

// typescript
img(src="https://raw.githubusercontent.com/remojansen/logo.ts/master/ts.png")
