@mixin ring {
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: transparent;
    box-shadow: 0px 0px 0px 12px black;
    transform: translate(100px, 100px);
}

@mixin ring-dazzle {
    stroke-dasharray: 5;
    @keyframes dazzle {
        to {
            stroke-dashoffset: -100;
        }
    }
    animation: dazzle 5s linear infinite;
}

@mixin day1 {
    .ring { @include ring }
    .ring-dazzle { @include ring-dazzle }
}