@mixin day5 {
    .base {
        transform: rotate(45deg) skewY(-45deg);
        transform-origin: center center;
        width:70px;
        height:70px;
    }
    .side {
        transform-origin: center center;
        transform: skewY(-42deg);
    }
    .light {
        fill: none;
        stroke-width: 10;
        stroke-linecap: round;
        stroke: var(--c-dark-red);
        stroke-dasharray: 14;
        &-1, &-3, &-5 {
            stroke: var(--c-dark-red);
        }
        &-2, &-4 {
            stroke: var(--c-red);
        }
        &-1 {
            @keyframes flicker1 {
                0%, 40% {stroke-opacity: 0}
                60% {stroke-opacity: 1}
            }
            animation: flicker1 3s infinite;
        }
        &-2 {
            stroke-dashoffset: -20px;
            @keyframes flicker2 {
                0%, 50%, 61% {stroke-opacity: 0}
                60%, 70% {stroke-opacity: 1}
            }
            animation: flicker2 3s infinite;
        }
        &-3 {
            stroke-dashoffset: 34px;
            @keyframes flicker3 {
                0%, 48% {stroke-opacity: 0}
                53% {stroke-opacity: 1}
            }
            animation: flicker3 3s infinite;
        }
        &-4 {
            stroke-dashoffset: 14px;
            @keyframes flicker4 {
                0%, 55% {stroke-opacity: 0}
                70% {stroke-opacity: 1}
            }
            animation: flicker4 3s infinite;
        }
        &-5 {
            stroke-dashoffset: 57px;
            @keyframes flicker5 {
                0%, 45%, 51% {stroke-opacity: 0}
                50%, 60% {stroke-opacity: 1}
            }
            animation: flicker5 3s infinite;
        }

    }
}