@import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap');
@import './day-1-ring.scss';
@import './day-2-mindless.scss';

:root {
    --c-title: white;
    --c-subtitle: white;
    --c-bg: #272727
}

%pseudo {
    position: absolute;
    content: '';
}

svg {
    height: 90%;
}

body {
    background: var(--c-bg);
    font-family: 'Mansalva', cursive;
    margin: 10px 25px;
}

.title, .subtitle, .ink-title {
    text-align: center;
}

.title {
    color: var(--c-title);
    font-size: 3em;
}

.subtitle {
    color: var(--c-subtitle);
    font-size: 2em;
}


.ink-title {
    padding: 10px;
    font-size: 1.2em;
}

.inks {
    display: grid;
    place-items: center;
    grid-gap: 50px;
}

@media only screen and (max-width: 350px) {
    .ink {
        transform: scale(0.8);
    }
    .inks {
        margin: none;
    }
}

@media only screen and (min-width: 351px) and (max-width: 975px) {
    .inks {
        margin: 15px 0px 0px 15px;
    }
}

@media only screen and (min-width: 975px) {
    .inks {
        grid-template-columns: repeat(3, 1fr);
        margin: 15px 0px 0px 15px;
    }
}

.ink {
    background: white;
    box-shadow: 0px 2px 10px 2px;
    height: 300px;
    width: 300px;
}


/** Day 1: Ring */
.ring {
    @include ring;
}

.ring-dazzle {
   @include ring-dazzle;
}


/** Day 2: Mindless */
.phone {
    @include mindless-phone;
} 

.eye {
    @include mindless-eye;
}

.eyelid {
    @include mindless-eyelid;
}

.smile {
    @include mindless-smile;
}