link( rel="stylesheet" href="./style.css" type="text/css")

- var spikeySpikeCount = 20;
- var spikeyInner1SpikeCount = 10;
- var spikeyInner2SpikeCount = 7;

.container

    //---------------------- Static ----------------------
    .logo
        .react-logo
            .path
            .path
            .path
        .durian.colored.spikey
            .stem
            - var n = 0
            - while(n < spikeySpikeCount)
                .spike(id="spike"+ n++)
            .inner-spikes.inner-level-1
                - var n = 0
                - while(n < spikeyInner1SpikeCount)
                    .spike(id="spike"+ n++)
            .inner-spikes.inner-level-2
                - var n = 0
                - while(n < spikeyInner2SpikeCount)
                    .spike(id="spike"+ n++)

    .logo
        .react-logo.dark
            .path
            .path
            .path
        .durian.spikey
            .stem
            - var n = 0
            - while(n < spikeySpikeCount)
                .spike(id="spike"+ n++)
            .inner-spikes.inner-level-1
                - var n = 0
                - while(n < spikeyInner1SpikeCount)
                    .spike(id="spike"+ n++)
            .inner-spikes.inner-level-2
                - var n = 0
                - while(n < spikeyInner2SpikeCount)
                    .spike(id="spike"+ n++)
        

    .logo
        .react-logo
            .path
            .path
            .path
        .durian.colored.opened.spikey
            .stem
            - var n = 0
            - while(n < spikeySpikeCount)
                .spike(id="spike"+ n++)
            .flesh.flesh-right
            .flesh.flesh-left

    //---------------------- Animated Shake ----------------------

    .logo.animated-durian-shake
        .react-logo
            .path
            .path
            .path
        .durian.colored.spikey
            .stem
            - var n = 0
            - while(n < spikeySpikeCount)
                .spike(id="spike"+ n++)
            .inner-spikes.inner-level-1
                - var n = 0
                - while(n < spikeyInner1SpikeCount)
                    .spike(id="spike"+ n++)
            .inner-spikes.inner-level-2
                - var n = 0
                - while(n < spikeyInner2SpikeCount)
                    .spike(id="spike"+ n++)

    .logo.animated-durian-shake
        .react-logo
            .path
            .path
            .path
        .durian.spikey
            .stem
            - var n = 0
            - while(n < spikeySpikeCount)
                .spike(id="spike"+ n++)
            .inner-spikes.inner-level-1
                - var n = 0
                - while(n < spikeyInner1SpikeCount)
                    .spike(id="spike"+ n++)
            .inner-spikes.inner-level-2
                - var n = 0
                - while(n < spikeyInner2SpikeCount)
                    .spike(id="spike"+ n++)
        

    .logo.animated-durian-shake
        .react-logo
            .path
            .path
            .path
        .durian.colored.opened.spikey
            .stem
            - var n = 0
            - while(n < spikeySpikeCount)
                .spike(id="spike"+ n++)
            .flesh.flesh-right
            .flesh.flesh-left

    //---------------------- Animated Traverse ----------------------

    .logo.animated-durian-traverse
        .react-logo
            .path
            .path
            .path
        .durian.colored.spikey
            .stem
            - var n = 0
            - while(n < spikeySpikeCount)
                .spike(id="spike"+ n++)
            .inner-spikes.inner-level-1
                - var n = 0
                - while(n < spikeyInner1SpikeCount)
                    .spike(id="spike"+ n++)
            .inner-spikes.inner-level-2
                - var n = 0
                - while(n < spikeyInner2SpikeCount)
                    .spike(id="spike"+ n++)

    .logo.animated-durian-traverse
        .react-logo
            .path
            .path
            .path
        .durian.spikey
            .stem
            - var n = 0
            - while(n < spikeySpikeCount)
                .spike(id="spike"+ n++)
            .inner-spikes.inner-level-1
                - var n = 0
                - while(n < spikeyInner1SpikeCount)
                    .spike(id="spike"+ n++)
            .inner-spikes.inner-level-2
                - var n = 0
                - while(n < spikeyInner2SpikeCount)
                    .spike(id="spike"+ n++)
        

    .logo.animated-durian-traverse
        .react-logo
            .path
            .path
            .path
        .durian.colored.opened.spikey
            .stem
            - var n = 0
            - while(n < spikeySpikeCount)
                .spike(id="spike"+ n++)
            .flesh.flesh-right
            .flesh.flesh-left
