link( rel="stylesheet" href="./style.css" type="text/css")

//- Animations for https://codepen.io/wendko/pen/zgdjZr
.row
    .picture.scenario-middle-body
    .picture.scenario-end-body
    .picture.scenario-async
    .picture.scenario-defer
    .picture.scenario-head-none