@mixin cup(
    $c-outline,
    $c-handle,
    $background
) {
    &>* {
        position: absolute;
    }

    .cup-mouth {
        height: 8px;
        width: 90px;
        border-radius: 50px;
        border: 5px solid $c-outline;
        margin: 7px 24px;
        z-index: 1;
    }

    .cup-body {
        height: 150px;
        width: 110px;
        border-radius: 15px 15px 30% 30%;
        background: $background;
        margin-left: 14px;
        border: 5px solid $c-outline;
    }

    .handle {
        height: 45px;
        width: 16px;
        background-color: transparent;
        margin-top: 59px;
        $br: 50%;
        border-radius: $br 0px 0px $br;
        box-shadow: 0px 0px 0px 5px $c-outline,
        0px 0px 0px 20px $c-handle,
        0px 0px 0px 25px $c-outline;
    }
}