    
@mixin ice-area(
    $c-self,
    $c-ice,
    $margin,
    $opacity,
) {
    width: 100px;
    height: 60px;
    background: $c-self;
    margin: $margin;
    
    .ice {
        opacity: $opacity;
        position: absolute;
        background: $c-ice;

        &:nth-child(1) {
            margin: 10px 7px;
            padding: 10px;
            $rotate: 10deg;
            transform: rotate($rotate);
            @include floating(1, $rotate);
        }
        &:nth-child(2) {
            margin: 20px 21px;
            padding: 12px;
            $rotate: -20deg;
            transform: rotate($rotate);
            @include floating(2, $rotate);
        }
        &:nth-child(3) {
            margin: 11px 40px;
            padding: 8px;
            $rotate: -50deg;
            transform: rotate($rotate);
            @include floating(3, $rotate);
        }
        &:nth-child(4) {
            margin: 15px 53px;
            padding: 12px;
            $rotate: 15deg;
            transform: rotate($rotate);
            @include floating(4, $rotate);
        }
        &:nth-child(5) {
            margin: 9px 78px;
            padding: 7px;
            $rotate: -120deg;
            transform: rotate($rotate);
            @include floating(5, $rotate);
        }
        &:nth-child(6) {
            margin: 26px 75px;
            padding: 8px;
            $rotate: -20deg;
            transform: rotate($rotate);
            @include floating(6, $rotate);
        }
    }
}