link( rel="stylesheet" href="./style.css" type="text/css")


.container
    .drink
        p Teh Tarik
        .teh-tarik
            .cup
                .handle
                .cup-body
                .cup-mouth
            .cup-shape
                - var shapeCount=4
                - while(shapeCount>0)
                    .shape(id="shape-"+shapeCount--)
            .bubbles
                - var bubbleCount=11*3
                - while(bubbleCount>0)
                    .bubble(id="bubble-"+bubbleCount--)
        
    .drink
        p Sirap Bandung
        .sirap-bandung
            .cup
            .cup-mouth
            .straw
            .ice-area
                - var iceCount = 6
                - while(iceCount > 0)
                    .ice(id="ice-" + iceCount--)

    .drink
        p Kopi
        .kopi
            .saucer
            .handle
            .cup
            .cup-mouth
            .pattern
            .bubbles

    .drink
        p Limau Ais
        .limau-ais
            .cup
                .handle
                .cup-body
                .cup-mouth
            .limaus
                .limau
                .limau
            .ice-area
                - var iceCount = 6
                - while(iceCount > 0)
                    .ice(id="ice-" + iceCount--)

    .drink
        p Soya Cincau
        .soya-cincau
            .cup
            .cup-mouth
            .straw
            .cincau-area
                - var cincauCount = 6
                - while(cincauCount > 0)
                    .cincau(id="cincau-" + cincauCount--)
            .ice-area
                - var iceCount = 6
                - while(iceCount > 0)
                    .ice(id="ice-" + iceCount--)
    
    .drink.empty

    .food
        p Satay
        .satay
            .plate
            .sauce
            .satay-sticks
                - var satayCount = 5
                - while (satayCount > 0)
                    .satay-stick(id="satay-"+satayCount--)
                        .meat
                        .meat
                        .meat
                        .meat
                        .meat
                        .skewer

    .nasi-lemak
    .roti-canai
    .roti-bakar