link( rel="stylesheet" href="./style.css" type="text/css")


.container
    p Teh Tarik
    
    .teh-tarik
        .handle
        .cup
        .cup-shape
            - var shapeCount=4
            - while(shapeCount>0)
                .shape(id="shape-"+shapeCount--)
        .cup-mouth
        .bubbles
            - var bubbleCount=15*4
            - while(bubbleCount>0)
                .bubble(class="bubble-mid" id="bubble-"+bubbleCount--)
    
    p Sirap Bandung
    .sirap-bandung
        .cup
        .cup-mouth
        .straw
        .ice-area
            //- - var num = 3
            //- - while(num > 0)
            //-     .ice(id="ice-" + num)
            .ice
            .ice
            .ice
            .ice
            .ice


    p Kopi
    .kopi
        .handle
        .saucer
        .cup
        .cup-mouth
        .pattern


    .limau-ais
    .soya-cincau

    .asam-laksa
    .ayam-rendang
    .nasi-lemak
    .roti-bakar
    .roti-canai