@mixin kopi {
    $c-cup: #e9e4d1;
    $c-cup-darker: #9d8c76;
    $c-cup-dark: #bea16b;
    $c-cup-light: #fdd7de;
    $c-kopi-light: #9a663d;
    $c-kopi-dark: #351503;
    $c-outline: #2f2f2f;
    $c-pattern-dark: #283010;
    $c-pattern-light: #677c34;
    $c-kopi-bubbles: #250d00;

    .cup {
        width: 100px;
        height: 100px;
        background: $c-cup;
        border-radius: 30%;
        border: 5px solid $c-outline;
    }

    .cup-mouth {
        width: 79px;
        height: 35px;
        background: linear-gradient(
            to bottom right, 
            $c-kopi-dark 40%, 
            $c-kopi-light);
        border-radius: 50px;
        margin: 10px 15px;
        box-shadow: inset 0px 7px $c-cup-dark;
    }

    .handle {
        width: 15px;
        height: 15px;
        background: transparent;
        border-radius: 30px;
        border: 5px solid $c-outline;
        box-shadow: 0px 0px 0px 10px $c-cup,
        0px 0px 0px 15px $c-outline;
        margin: 45px 105px;
    }
    
    .saucer {
        width: 166px;
        height: 60px;
        background: $c-cup-dark;
        border-radius: 50%;
        border: 5px solid $c-outline;
        margin: 77px -31px;
        box-shadow: inset 0px -13px $c-cup-light;
    }

    .pattern {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin: 62px 22px;
        background: $c-pattern-dark;
        box-shadow: 
        8px 8px 0px 3px $c-pattern-light,
        22px -1px 0px 5px $c-pattern-dark,
        28px 13px 0px 8px $c-pattern-light,
        11px 21px $c-pattern-dark,
        42px 3px 0px 6px $c-pattern-dark,
        50px 13px 0px 4px $c-pattern-light,
        60px 2px $c-pattern-light;
    }

    .bubbles {
        opacity: 0.6;
        width: 19px;
        height: 11px;
        background: $c-kopi-bubbles;
        border-radius: 50%;
        margin: 27px 68px;
        box-shadow: -23px -5px 0px -3px $c-kopi-bubbles,
        -18px 3px 0px -2px $c-kopi-bubbles;

        @keyframes bubbly {
            0%, 100% {} 50% { transform: scale(1.2) }
        }
        animation: bubbly 3s infinite;
    }

}