@import './ice-area.scss';
@import './cup-tall.scss';

$c-sirap-dark: #be2a47;
$c-sirap-light: #e898cf;
$c-sirap-outline: #2f2f2f; 
$c-straw: #000000d9;

@mixin sirap-bandung {
    $c-cup-content: linear-gradient(
                transparent,
                transparent 20%,
                $c-sirap-light 20%, 
                $c-sirap-light 40%, 
                $c-sirap-dark);
    @include cup-tall( $c-outline, $c-cup-content, $c-straw );

    .ice-area {
        $c-self: linear-gradient($c-sirap-light 30%, transparent);
        $c-ice:$c-sirap-dark;
        $margin: 35px 5px;
        $opacity: 0.3;
        @include ice-area($c-self, $c-ice, $margin, $opacity);
    }
}