@import '../../common/container.scss';
@import './teh-tarik.scss';
@import './sirap-bandung.scss';
@import './kopi.scss';

.container {
    @include container;
}

@mixin item($pt, $pr) {
    outline: 1px dashed black;
    &>* {
        position: absolute;
    }
    padding: $pt $pr (200px - $pt) (230px - $pr);
}

.teh-tarik {
    @include item(20px, 180px);
    @include teh-tarik;
}

.sirap-bandung {
    @include item(25px, 165px);
    @include sirap-bandung;
}

.kopi {
    @include item(35px, 175px);
    @include kopi;
}