@import url('https://fonts.googleapis.com/css?family=Chilanka&display=swap');
@import '../../common/container.scss';
@import './teh-tarik.scss';
@import './sirap-bandung.scss';
@import './kopi.scss';
@import './limau-ais.scss';
@import './soya-cincau.scss';
@import './satay.scss';
@import './nasi-lemak.scss';
@import './roti-canai.scss';

.container {
    @include container;
    font-family: 'Chilanka', cursive;
    grid-auto-flow: column;
    text-align: center;
    grid-template-rows: repeat(3, 1fr);
}

@mixin item($pt, $pr) {
    outline: 1px dashed black;
    &>* {
        position: absolute;
    }
    padding: $pt $pr (200px - $pt) (230px - $pr);
}

.teh-tarik {
    @include item(20px, 175px);
    @include teh-tarik;
}

.sirap-bandung {
    @include item(25px, 165px);
    @include sirap-bandung;
}   

.kopi {
    @include item(35px, 175px);
    @include kopi;
}

.limau-ais {
    @include item(20px, 175px);
    @include limau-ais;
}

.soya-cincau {
    @include item(20px, 175px);
    @include soya-cincau;
}

.satay {
    @include item(15px, 199px);
    @include satay;
}

.nasi-lemak {
    @include item(15px, 199px);
    @include nasi-lemak;
}

.roti-canai {
    @include item(15px, 199px);
    @include roti-canai;
}