@import url("https://fonts.googleapis.com/css?family=Chilanka&display=swap");
.container {
  display: grid;
  place-items: center;
  height: 100vh;
  font-family: "Chilanka", cursive;
  grid-auto-flow: column;
  text-align: center;
  grid-template-rows: repeat(3, 1fr);
}

.teh-tarik {
  outline: 1px dashed black;
  padding: 20px 175px 180px 55px;
}
.teh-tarik > * {
  position: absolute;
}
.teh-tarik .cup > * {
  position: absolute;
}
.teh-tarik .cup .cup-mouth {
  height: 8px;
  width: 90px;
  border-radius: 50px;
  border: 5px solid #2f2f2f;
  margin: 7px 24px;
  z-index: 1;
}
.teh-tarik .cup .cup-body {
  height: 150px;
  width: 110px;
  border-radius: 15px 15px 30% 30%;
  background: linear-gradient(transparent 10%, #ffca77 10%, #ffca77 20%, #b36f05);
  margin-left: 14px;
  border: 5px solid #2f2f2f;
}
.teh-tarik .cup .handle {
  height: 45px;
  width: 16px;
  background-color: transparent;
  margin-top: 59px;
  border-radius: 50% 0px 0px 50%;
  box-shadow: 0px 0px 0px 5px #2f2f2f, 0px 0px 0px 20px #ffca77, 0px 0px 0px 25px #2f2f2f;
}
.teh-tarik .cup-shape > .shape {
  position: absolute;
  height: 85px;
  width: 15px;
  border-radius: 50%;
  border: 3px solid #794c05;
  background: linear-gradient(#b36f05, #ffca77);
}
.teh-tarik .cup-shape > .shape:nth-child(1) {
  margin: 59px 25px;
}
.teh-tarik .cup-shape > .shape:nth-child(2) {
  margin: 64px 51px;
}
.teh-tarik .cup-shape > .shape:nth-child(3) {
  margin: 64px 77px;
}
.teh-tarik .cup-shape > .shape:nth-child(4) {
  margin: 59px 103px;
}
.teh-tarik .bubbles {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(11, 1fr);
  place-items: center;
  margin: 20px;
}
.teh-tarik .bubbles .bubble {
  height: 9.8px;
  width: 9.8px;
  border-radius: 50%;
  background: radial-gradient(transparent 20%, #fff3da 40%);
  animation: bubbly 3s infinite;
}
@keyframes bubbly {
  50% {
    transform: translateY(5px);
  }
}
.teh-tarik .bubbles .bubble:nth-child(even) {
  animation-delay: 1.5s;
}
.teh-tarik .bubbles .bubble:nth-child(2n+1) {
  animation-delay: 1s;
}
.teh-tarik .bubbles .bubble:nth-child(3n) {
  animation-delay: 2s;
}

.sirap-bandung {
  outline: 1px dashed black;
  padding: 25px 165px 175px 65px;
}
.sirap-bandung > * {
  position: absolute;
}
.sirap-bandung .cup {
  width: 100px;
  height: 150px;
  border-radius: 10% 10% 20% 20%;
  border: 5px solid #2f2f2f;
  background: linear-gradient(transparent, transparent 20%, #e898cf 20%, #e898cf 40%, #be2a47);
}
.sirap-bandung .cup-mouth {
  width: 90px;
  height: 10px;
  border-radius: 100px;
  border: 5px solid #2f2f2f;
  border-top: none;
  z-index: 2;
  margin: 0px 6px;
}
.sirap-bandung .straw {
  width: 10px;
  height: 60px;
  margin: -21px 66px;
  transform: rotate(20deg);
  transform-origin: bottom;
  background: #000000d9;
  animation: move 3s infinite;
}
@keyframes move {
  50% {
    transform: rotate(10deg);
  }
}
.sirap-bandung .ice-area {
  width: 100px;
  height: 60px;
  background: linear-gradient(#e898cf 30%, transparent);
  margin: 35px 5px;
}
.sirap-bandung .ice-area .ice {
  opacity: 0.3;
  position: absolute;
  background: #be2a47;
  border-radius: 3px;
}
.sirap-bandung .ice-area .ice:nth-child(1) {
  margin: 10px 7px;
  padding: 10px;
  transform: rotate(10deg);
  animation: float-1 2s infinite;
}
@keyframes float-1 {
  50% {
    transform: rotate(10deg) translateY(2.5px);
  }
}
.sirap-bandung .ice-area .ice:nth-child(2) {
  margin: 20px 21px;
  padding: 12px;
  transform: rotate(-20deg);
  animation: float-2 2s infinite;
}
@keyframes float-2 {
  50% {
    transform: rotate(-20deg) translateY(2.5px);
  }
}
.sirap-bandung .ice-area .ice:nth-child(3) {
  margin: 11px 40px;
  padding: 8px;
  transform: rotate(-50deg);
  animation: float-3 2s infinite;
}
@keyframes float-3 {
  50% {
    transform: rotate(-50deg) translateY(2.5px);
  }
}
.sirap-bandung .ice-area .ice:nth-child(4) {
  margin: 15px 53px;
  padding: 12px;
  transform: rotate(15deg);
  animation: float-4 2s infinite;
}
@keyframes float-4 {
  50% {
    transform: rotate(15deg) translateY(2.5px);
  }
}
.sirap-bandung .ice-area .ice:nth-child(5) {
  margin: 9px 78px;
  padding: 7px;
  transform: rotate(-120deg);
  animation: float-5 2s infinite;
}
@keyframes float-5 {
  50% {
    transform: rotate(-120deg) translateY(2.5px);
  }
}
.sirap-bandung .ice-area .ice:nth-child(6) {
  margin: 26px 75px;
  padding: 8px;
  transform: rotate(-20deg);
  animation: float-6 2s infinite;
}
@keyframes float-6 {
  50% {
    transform: rotate(-20deg) translateY(2.5px);
  }
}

.kopi {
  outline: 1px dashed black;
  padding: 35px 175px 165px 55px;
}
.kopi > * {
  position: absolute;
}
.kopi .cup {
  width: 100px;
  height: 100px;
  background: #e9e4d1;
  border-radius: 30%;
  border: 5px solid #2f2f2f;
}
.kopi .cup-mouth {
  width: 79px;
  height: 35px;
  background: linear-gradient(to bottom right, #351503 40%, #9a663d);
  border-radius: 50px;
  margin: 10px 15px;
  box-shadow: inset 0px 7px #bea16b;
}
.kopi .handle {
  width: 15px;
  height: 15px;
  background: transparent;
  border-radius: 30px;
  border: 5px solid #2f2f2f;
  box-shadow: 0px 0px 0px 10px #e9e4d1, 0px 0px 0px 15px #2f2f2f;
  margin: 45px 105px;
}
.kopi .saucer {
  width: 166px;
  height: 80px;
  background: #bea16b;
  border-radius: 50%;
  border: 5px solid #2f2f2f;
  margin: 55px -31px;
  box-shadow: inset 0px -13px #fdd7de;
}
.kopi .pattern {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 62px 22px;
  background: #283010;
  box-shadow: 8px 8px 0px 3px #677c34, 22px -1px 0px 5px #283010, 28px 13px 0px 8px #677c34, 11px 21px #283010, 42px 3px 0px 6px #283010, 50px 13px 0px 4px #677c34, 60px 2px #677c34;
}
.kopi .bubbles {
  opacity: 0.6;
  width: 19px;
  height: 11px;
  background: #250d00;
  border-radius: 50%;
  margin: 27px 68px;
  box-shadow: -23px -5px 0px -3px #250d00, -18px 3px 0px -2px #250d00;
  animation: bubbly 3s infinite;
}
@keyframes bubbly {
  50% {
    transform: scale(1.2);
  }
}

.limau-ais {
  outline: 1px dashed black;
  padding: 20px 175px 180px 55px;
}
.limau-ais > * {
  position: absolute;
}
.limau-ais .cup > * {
  position: absolute;
}
.limau-ais .cup .cup-mouth {
  height: 8px;
  width: 90px;
  border-radius: 50px;
  border: 5px solid #2f2f2f;
  margin: 7px 24px;
  z-index: 1;
}
.limau-ais .cup .cup-body {
  height: 150px;
  width: 110px;
  border-radius: 15px 15px 30% 30%;
  background: linear-gradient(transparent 18%, #cfcfcf 18%, white);
  margin-left: 14px;
  border: 5px solid #2f2f2f;
}
.limau-ais .cup .handle {
  height: 45px;
  width: 16px;
  background-color: transparent;
  margin-top: 59px;
  border-radius: 50% 0px 0px 50%;
  box-shadow: 0px 0px 0px 5px #2f2f2f, 0px 0px 0px 20px #cfcfcf, 0px 0px 0px 25px #2f2f2f;
}
.limau-ais .limaus > .limau {
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 50% 50%;
  background: repeating-linear-gradient(#e5eb86 20%, #cbc126 30%);
  box-shadow: inset 10.5px 10.5px #739023, inset 12.25px 12.25px #f7f8c3;
}
.limau-ais .limaus > .limau:nth-child(1) {
  margin: 40px 33px;
  animation: bob-ukfl78l 3s infinite;
}
@keyframes bob-ukfl78l {
  50% {
    transform: rotate(0deg) translateY(-5px);
  }
}
.limau-ais .limaus > .limau:nth-child(2) {
  margin: 33px 78px;
  transform: rotate(200deg);
  animation: bob-ukfl798 3s infinite;
}
@keyframes bob-ukfl798 {
  50% {
    transform: rotate(200deg) translateY(-5px);
  }
}
.limau-ais .ice-area {
  width: 100px;
  height: 60px;
  background: none;
  margin: 57px 26px;
}
.limau-ais .ice-area .ice {
  opacity: 0.45;
  position: absolute;
  background: #a7a7a7;
  border-radius: 3px;
}
.limau-ais .ice-area .ice:nth-child(1) {
  margin: 10px 7px;
  padding: 10px;
  transform: rotate(10deg);
  animation: float-1 2s infinite;
}
@keyframes float-1 {
  50% {
    transform: rotate(10deg) translateY(2.5px);
  }
}
.limau-ais .ice-area .ice:nth-child(2) {
  margin: 20px 21px;
  padding: 12px;
  transform: rotate(-20deg);
  animation: float-2 2s infinite;
}
@keyframes float-2 {
  50% {
    transform: rotate(-20deg) translateY(2.5px);
  }
}
.limau-ais .ice-area .ice:nth-child(3) {
  margin: 11px 40px;
  padding: 8px;
  transform: rotate(-50deg);
  animation: float-3 2s infinite;
}
@keyframes float-3 {
  50% {
    transform: rotate(-50deg) translateY(2.5px);
  }
}
.limau-ais .ice-area .ice:nth-child(4) {
  margin: 15px 53px;
  padding: 12px;
  transform: rotate(15deg);
  animation: float-4 2s infinite;
}
@keyframes float-4 {
  50% {
    transform: rotate(15deg) translateY(2.5px);
  }
}
.limau-ais .ice-area .ice:nth-child(5) {
  margin: 9px 78px;
  padding: 7px;
  transform: rotate(-120deg);
  animation: float-5 2s infinite;
}
@keyframes float-5 {
  50% {
    transform: rotate(-120deg) translateY(2.5px);
  }
}
.limau-ais .ice-area .ice:nth-child(6) {
  margin: 26px 75px;
  padding: 8px;
  transform: rotate(-20deg);
  animation: float-6 2s infinite;
}
@keyframes float-6 {
  50% {
    transform: rotate(-20deg) translateY(2.5px);
  }
}

.soya-cincau {
  outline: 1px dashed black;
  padding: 20px 175px 180px 55px;
}
.soya-cincau > * {
  position: absolute;
}
.soya-cincau .cup {
  width: 100px;
  height: 150px;
  border-radius: 10% 10% 20% 20%;
  border: 5px solid #2f2f2f;
  background: linear-gradient(transparent, transparent 20%, #f0e2ba 20%, #f0e2ba 40%, #c1b39b);
}
.soya-cincau .cup-mouth {
  width: 90px;
  height: 10px;
  border-radius: 100px;
  border: 5px solid #2f2f2f;
  border-top: none;
  z-index: 2;
  margin: 0px 6px;
}
.soya-cincau .straw {
  width: 10px;
  height: 60px;
  margin: -21px 66px;
  transform: rotate(20deg);
  transform-origin: bottom;
  background: #000000d9;
  animation: move 3s infinite;
}
@keyframes move {
  50% {
    transform: rotate(10deg);
  }
}
.soya-cincau .cincau-area {
  width: 100px;
  height: 60px;
  margin: 35px 5px;
  background: linear-gradient(#f0e2ba, transparent);
}
.soya-cincau .cincau-area .cincau {
  position: absolute;
  padding: 18px;
  border: 5px solid transparent;
  border-left-color: #370904;
  border-radius: 50%;
}
.soya-cincau .cincau-area .cincau:nth-child(1) {
  margin: -13px 5px;
  transform: rotate(-44deg);
  animation: float-ukfl79c 3s infinite;
}
@keyframes float-ukfl79c {
  50% {
    transform: rotate(-44deg) translateY(3px);
  }
}
.soya-cincau .cincau-area .cincau:nth-child(2) {
  margin: 7px 19px;
  transform: rotate(77deg);
  animation: float-ukfl79j 3s infinite;
}
@keyframes float-ukfl79j {
  50% {
    transform: rotate(77deg) translateY(3px);
  }
}
.soya-cincau .cincau-area .cincau:nth-child(3) {
  margin: -20px 40px;
  transform: rotate(257deg);
  animation: float-ukfl79m 3s infinite;
}
@keyframes float-ukfl79m {
  50% {
    transform: rotate(257deg) translateY(3px);
  }
}
.soya-cincau .cincau-area .cincau:nth-child(4) {
  margin: 23px 8px;
  transform: rotate(134deg);
  animation: float-ukfl7ad 3s infinite;
}
@keyframes float-ukfl7ad {
  50% {
    transform: rotate(134deg) translateY(3px);
  }
}
.soya-cincau .cincau-area .cincau:nth-child(5) {
  margin: 1px 50px;
  transform: rotate(163deg);
  animation: float-ukfl7ae 3s infinite;
}
@keyframes float-ukfl7ae {
  50% {
    transform: rotate(163deg) translateY(3px);
  }
}
.soya-cincau .cincau-area .cincau:nth-child(6) {
  margin: 9px 36px;
  transform: rotate(210deg);
  animation: float-ukfl7b3 3s infinite;
}
@keyframes float-ukfl7b3 {
  50% {
    transform: rotate(210deg) translateY(3px);
  }
}
.soya-cincau .ice-area {
  width: 100px;
  height: 60px;
  background: none;
  margin: 65px 5px;
}
.soya-cincau .ice-area .ice {
  opacity: 0.8;
  position: absolute;
  background: #c1b39b;
  border-radius: 3px;
}
.soya-cincau .ice-area .ice:nth-child(1) {
  margin: 10px 7px;
  padding: 10px;
  transform: rotate(10deg);
  animation: float-1 2s infinite;
}
@keyframes float-1 {
  50% {
    transform: rotate(10deg) translateY(2.5px);
  }
}
.soya-cincau .ice-area .ice:nth-child(2) {
  margin: 20px 21px;
  padding: 12px;
  transform: rotate(-20deg);
  animation: float-2 2s infinite;
}
@keyframes float-2 {
  50% {
    transform: rotate(-20deg) translateY(2.5px);
  }
}
.soya-cincau .ice-area .ice:nth-child(3) {
  margin: 11px 40px;
  padding: 8px;
  transform: rotate(-50deg);
  animation: float-3 2s infinite;
}
@keyframes float-3 {
  50% {
    transform: rotate(-50deg) translateY(2.5px);
  }
}
.soya-cincau .ice-area .ice:nth-child(4) {
  margin: 15px 53px;
  padding: 12px;
  transform: rotate(15deg);
  animation: float-4 2s infinite;
}
@keyframes float-4 {
  50% {
    transform: rotate(15deg) translateY(2.5px);
  }
}
.soya-cincau .ice-area .ice:nth-child(5) {
  margin: 9px 78px;
  padding: 7px;
  transform: rotate(-120deg);
  animation: float-5 2s infinite;
}
@keyframes float-5 {
  50% {
    transform: rotate(-120deg) translateY(2.5px);
  }
}
.soya-cincau .ice-area .ice:nth-child(6) {
  margin: 26px 75px;
  padding: 8px;
  transform: rotate(-20deg);
  animation: float-6 2s infinite;
}
@keyframes float-6 {
  50% {
    transform: rotate(-20deg) translateY(2.5px);
  }
}

/*# sourceMappingURL=style.css.map */
