@import './cup.scss';

@mixin teh-tarik {
    $c-teh-light: #ffca77;
    $c-teh-dark: #b36f05;
    $c-teh-outline: #2f2f2f;
    $c-cup-shape: #794c05;
    $c-teh-bubbles-border: #fff3da;
    $c-teh-bubbles-bg: #fff3da;
    
    .cup {
        $c-cup-content: linear-gradient(
            transparent 10%, 
            $c-teh-light 10%, 
            $c-teh-light 20%, 
            $c-teh-dark);

        @include cup(
            $c-teh-outline,
            $c-teh-light,
            $c-cup-content
        );
    }
    .cup-shape>.shape {
        position: absolute;
        height: 85px;
        width: 15px;
        border-radius: 50%;
        border: 3px solid $c-cup-shape;
        background: linear-gradient($c-teh-dark, $c-teh-light);

        $my-start: 59px;
        $mx-start: 25px;
        $distance: 26px;
        &:nth-child(1) {
            margin: $my-start $mx-start;
        }
        &:nth-child(2) {
            margin: $my-start + 5px $mx-start + $distance;
        }
        &:nth-child(3) {
            margin: $my-start + 5px $mx-start + ($distance * 2);
        }
        &:nth-child(4) {
            margin: $my-start $mx-start + ($distance * 3);
        }
    }
    .bubbles {
        $bubbles-per-row: 11;
        display: grid;
        place-items: center;
        grid-template-columns: repeat($bubbles-per-row, 1fr);
        place-items: center;
        margin: 20px;

        .bubble {
            $size: 9.8px;
            height: $size;
            width: $size;
            border-radius: 50%;
            background: radial-gradient(
                transparent 20%,
                $c-teh-bubbles-border 40%);
            $row-end: #{$bubbles-per-row}n;

            @keyframes bubbly {
                0%, 100% { } 50% { transform: translateY(5px)}
            }

            animation: bubbly 3s infinite;
            &:nth-child(even) {
                animation-delay: 1.5s;
            }
            &:nth-child(2n+1) {
                animation-delay: 1s;
            }
            &:nth-child(3n) {
                animation-delay: 2s;
            }

    
        }
    }
}
