link( rel="stylesheet" href="./style.css" type="text/css")

.tower
  .tower-single.tower-left
    .spike
    .cherry
    .tower-level.tower-top-2
      -for (var col = 0; col < 3; ++col)
        .tower-column
            .tower-piece
    .tower-level.tower-top-3
      -for (var col = 0; col < 4; ++col)
        .tower-column
            .tower-piece
    .tower-level.tower-mid-0
      -for (var col = 0; col < 5; ++col)
        .tower-column
          - for (var row = 0; row < 2; ++row)
            .tower-piece
    .tower-level.tower-mid-1
      -for (var col = 0; col < 5; ++col)
        .tower-column
          - for (var row = 0; row < 3; ++row)
            .tower-piece
    .tower-level.tower-mid-2
      -for (var col = 0; col < 5; ++col)
        .tower-column
          - for (var row = 0; row < 5; ++row)
            .tower-piece
    .tower-level.tower-mid-3
      -for (var col = 0; col < 5; ++col)
        .tower-column
          - for (var row = 0; row < 7; ++row)
            .tower-piece
    .tower-level.tower-mid-4
      -for (var col = 0; col < 5; ++col)
        .tower-column
          - for (var row = 0; row < 10; ++row)
            .tower-piece
    .tower-level.tower-bottom
      -for (var j = 0; j < 5; ++j)
        .tower-column
          - for (var i = 0; i < 30; ++i)
            .tower-piece
  .bridge      
  .tower-single.tower-right
    .spike
    .cherry
    .tower-level.tower-top-2
      -for (var col = 0; col < 3; ++col)
        .tower-column
            .tower-piece
    .tower-level.tower-top-3
      -for (var col = 0; col < 4; ++col)
        .tower-column
            .tower-piece
    .tower-level.tower-mid-0
      -for (var col = 0; col < 5; ++col)
        .tower-column
          - for (var row = 0; row < 2; ++row)
            .tower-piece
    .tower-level.tower-mid-1
      -for (var col = 0; col < 5; ++col)
        .tower-column
          - for (var row = 0; row < 3; ++row)
            .tower-piece
    .tower-level.tower-mid-2
      -for (var col = 0; col < 5; ++col)
        .tower-column
          - for (var row = 0; row < 5; ++row)
            .tower-piece
    .tower-level.tower-mid-3
      -for (var col = 0; col < 5; ++col)
        .tower-column
          - for (var row = 0; row < 7; ++row)
            .tower-piece
    .tower-level.tower-mid-4
      -for (var col = 0; col < 5; ++col)
        .tower-column
          - for (var row = 0; row < 10; ++row)
            .tower-piece
    .tower-level.tower-bottom
      -for (var j = 0; j < 5; ++j)
        .tower-column
          - for (var i = 0; i < 30; ++i)
            .tower-piece
        