link( rel="stylesheet" href="./style.css" type="text/css")

.container 
  .tapir
    .torso
    .body
    .head
    .eye
    .ears
    .snout
    .bicep
    .laptop
    .laptop-logo
    .paw
    .feet