body {
    margin: 0;
}

.container {
    width: 100vw;
    column-count: 3;
    column-width: calc(100vw / 3);
    column-gap: 0;
}

.section {
    height: 100vh;
    outline: 1px dashed;
    break-inside: avoid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section * {
    position: absolute;
}

.section *::before, .section *::after {
    content: '';
    position: absolute;
}

.section-face-mask {
    background: lightsalmon;
}

.section-face-mask__face {
    --color-skin: rgb(151, 84, 40);
    border-radius: 50%;
    width: 470px;
    height: 510px;
    background: var(--color-skin);
    padding-bottom: 0;
    box-shadow:  -240px 0px 0 -170px var(--color-skin),
        240px 0px 0 -170px var(--color-skin);
}

.section-face-mask__mask {
    --color-layer-1: #7777f5;
    --color-layer-2: #6767e2;
    --color-layer-3: #5b5bd1;
    --color-layer-4: #4c4cb8;
    width: 450px;
    height: 120px;
    background: var(--color-layer-1);
    margin-bottom: 30vh;
    border-radius: 0 0 50% 50%;
    box-shadow: 0px 60px 0 -10px var(--color-layer-2),
        0 100px 0 -20px var(--color-layer-3),
        0 135px 0 -27px var(--color-layer-4);
    transform: translate(0px, 55px);
}

.section-face-mask__mask::after, 
.section-face-mask__mask::before {
    --color-mask-string: #5b5bd1;
    height: 100px;
    width: 12px;
    background: var(--color-mask-string);
}

.section-face-mask__mask::before {
    transform: translate(-20px, -90px) rotate(-27deg);
    box-shadow: -58px 165px var(--color-mask-string);
}

.section-face-mask__mask::after {
    transform: translate(460px, -90px) rotate(27deg);
    box-shadow: 55px 165px var(--color-mask-string);
}

.section-face-mask__hair--fringe {
    --color-hair: black;
    width: 170px;
    height: 160px;
    background: black;
    border-radius: 130px 50px 160px 0px;
    transform: translate(-167px, -210px);
}

.section-face-mask__hair--fringe::after {
    width: 370px;
    height: 170px;
    background: var(--color-hair);
    transform: translate(140px, -20px);
    border-radius: 100px 200px 0px 200px;
}

.section-face-mask__hair--fringe::before {
    background: var(--color-hair);
    height: 100px;
    width: 65px;
    transform: translate(-1px, 109px);
    box-shadow: 446px 0px;
}

.section-face-shield {
    background: salmon;
}

.section-gas-mask {
    background: indianred;
}

header {
    position: fixed;
    width: 110vw;
    text-align: center;
    letter-spacing: 10vw;
    font-family: 'Courier New', Courier, monospace;
}

header > h1 {
    font-size: 10rem;
    margin: 30px;
}