link( rel="stylesheet" href="./style.css" type="text/css")


.container
    .gameboy-color
        .body
        .screen
            .screen-text
        .lower-half
            .nintendo
            .cross
                .arrow-up
                .arrow-down
                .arrow-left
                .arrow-right
                .center
            .b
            .a
            .select
            .start
        .speaker
        .on-light

    