link( rel="stylesheet" href="./style.css" type="text/css")

img(src='https://s.yimg.com/aah/asianimportstore/4-orange-even-ribbing-round-paper-lantern-10-pack-30.jpg')

.light

.lantern
  .lantern-body
  .lantern-horizontal